.ui-popup {
  position: relative;
  max-width: 510px;
  padding: 50px 40px;
  background: #fff;
  margin: 0 auto;

  @media(max-width: 576px) {
    padding: 50px 15px;
  }

  &-title {
    font-family: 'FuturaMediumC';
    font-size: 28px;
    color: #172542;
    margin-bottom: 24px;
  }

  &-subtitle {
    font-size: 20px;
    color: #172542;
    margin-bottom: 30px;
  }

  &-control {
    margin-bottom: 48px;

    &.flex {
      justify-content: space-between;

      @media(max-width: 400px) {
        flex-direction: column;

        .ui-checkbox {
          margin-bottom: 10px;
        }
      }
    }

    a {
      border-bottom: 1px solid #172542;
      font-size: 18px;

      @media(max-width: 400px) {
        border-bottom: none;
      }

      &:hover {
        color: #a8bed6;
        border-color: #a8bed6;
      }
    }
  }

  &-field {
    margin-bottom: 25px;
  }

  &-link {
    span {
      font-size: 18px;

      a {
        margin-left: 16px;
        color: #4670C8;

        &:hover {
          color: #a8bed6;
        }
      }
    }
  }

  .ui-btn {
    max-width: 336px;
    margin-bottom: 35px;

    &.mb-0 {
      margin-bottom: 0;
    }

    &.margin-0 {
      margin-bottom: 0;
    }
  }

  .mfp-close {
    color: #D4DFEA;
    font-size: 45px;
    line-height: 0;
    width: 23px;
    height: 23px;
    top: 15px;
    right: 15px;
    opacity: 1;
  }
}

.mfp-container {
  @media(max-width: 900px) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}