.ui-popup {
  position: relative;
  max-width: 510px;
  padding: 50px 40px;
  background: #fff;
  margin: 20px auto;

  &.width-920 {
    max-width: 920px;
    padding: 80px;

    @media(max-width: 576px) {
      padding: 50px 28px;
    }
  }

  &.center {
    text-align: center;
  }

  @media(max-width: 576px) {
    padding: 50px 28px;
  }

  &-title {
    font-family: 'FuturaMediumC';
    font-size: 28px;
    color: #172542;
    margin-bottom: 24px;

    &.center {
      text-align: center;
    }

    &.fs-48 {
      font-size: 48px;
      margin-bottom: 60px;
    }
  }

  &-subtitle {
    font-size: 20px;
    color: #172542;
    margin-bottom: 30px;

    @media(max-width: 1024px) {
      font-size: 18px;
    }
  }

  &-img {
    margin-bottom: 35px;
  }

  &-link {
    .block {
      display: block;
      margin: 0 auto;
    }
  }

  &-txt {
    font-size: 20px;
    color: #172542;
    // margin-bottom: 38px;
    max-width: 310px;
    width: 100%;
    margin: 0 auto 38px;

    &.full-width {
      max-width: 100%;
    }
  }

  &-control {
    margin-bottom: 48px;

    &.flex {
      justify-content: space-between;

      @media(max-width: 400px) {
        flex-direction: column;

        .ui-checkbox {
          margin-bottom: 10px;
        }
      }
    }

    a {
      border-bottom: 1px solid #172542;
      font-size: 18px;

      @media(max-width: 400px) {
        border-bottom: none;
        color: #4670c8;
      }

      &:hover {
        color: #a8bed6;
        border-color: #a8bed6;
      }
    }
  }

  &-field {
    margin-bottom: 25px;
    position: relative;
  }

  &-link {
    span {
      font-size: 18px;

      a {
        margin-left: 16px;
        color: #4670C8;

        @media(max-width: 320px) {
          margin-left: 0;
        }

        &:hover {
          color: #a8bed6;
        }
      }
    }
  }

  .ui-btn {
    max-width: 336px;
    margin-bottom: 35px;

    &.mb-0 {
      margin-bottom: 0;
    }

    &.margin-0 {
      margin-bottom: 0;
    }
  }

  .mfp-close {
    color: #D4DFEA;
    font-size: 45px;
    line-height: 0;
    width: 23px;
    height: 23px;
    top: 15px;
    right: 15px;
    opacity: 1;
  }
}

.mfp-container {
  @media(max-width: 900px) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.my-mfp-zoom-in .mfp-anim { opacity: 0; transform: scale(0.75); transition: transform .3s .45s ease-in-out, opacity .3s .45s ease-in-out; }

.not_delay .my-mfp-zoom-in .mfp-anim,
.my-mfp-zoom-in .mfp-anim.not_delay { animation-delay: 0s !important; transition: transform .3s 0s ease-in-out, opacity .3s 0s ease-in-out; }

.my-mfp-zoom-in.mfp-ready .mfp-anim { opacity: 1; transform: scale(1); }

.my-mfp-zoom-in.mfp-removing .mfp-anim { transform: scale(0.75); opacity: 0; }

.mfp-bg { opacity: 0; transform: scale(0.92); transition: transform .5s, opacity .5s; }

.mfp-bg.mfp-ready { transform: scale(1); opacity: 0.7; }

.mfp-removing.mfp-bg { opacity: 0; }

.mfp-wrap {
  position: fixed!important;
  top: 0!important;
  height: 100%!important;
  overflow: hidden auto!important;
}

.mfp-bg {
  position: fixed!important;
  top: 0!important;
  height: 100%!important;
}