.ui-btn {
  font-family: 'FuturaBookC';
  background: #FAD89D;
  font-size: 20px;
  color: #172542;
  border: none;
  // padding: 15px 42px;
  max-width: 206px;
  width: 100%;
  height: 56px;
  border-radius: 48px;
  cursor: pointer;
  transition: 0.1s ease-out;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 0 5px;
  line-height: 56px;

  &.white {
    background: transparent;
    border: 1px solid #172542;

    &:hover {
      border: 1px solid transparent;
    }
  }

  &:hover {
    background: #fadca9;
  }
}

.ui-input {
  // max-width: 850px;
  width: 100%;
  height: 56px;
  border-radius: 32px;
  border: 1px solid #D9E4F1;
  padding: 15px 5px 15px 50px;
  font-family: FuturaBookC;
  font-weight: 400;
  font-size: 20px;
  color: #BECCDC;

  @media(max-width: 1440px) {
    height: 52px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &::placeholder {
    color: #BECCDC;
  }

  &:hover {
    border-color: #a8bed6;
  }
}

.ui-rating.flex {
  flex-wrap: wrap;
  align-items: baseline;
}

.ui-rating-stars {
  margin-right: 10px;
}

.ui-rating-star {
  display: inline-block;
  background: url(.././images/icon/star-empty.svg) repeat 0 0;

  &.active {
    background: url(.././images/icon/star.svg) repeat 0 0;
  }

  &.base {
    width: 20px;
    height: 20px;
    background-size: cover;
  }

  &.small {
    width: 16px;
    height: 16px;
    background-size: cover;
  }
}

.ui-rating-value {
  font-weight: 400;
  font-size: 16px;
  color: #858585;
  // margin-left: 10px;
}

.ui-tab {
  text-align: left;
  letter-spacing: 0.05em;

  .split {
    display: inline-block;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin: 0 8px;
    color: #172542;
  }

  &-link {
    font-family: 'FuturaMediumC';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #172542;
    // padding-bottom: 2px;
    border-bottom: 2px solid transparent;

    &.active {
      color: #172542;
      border-bottom: 2px solid #172542;
    }
  }

  @media (max-width: 1024.99px) {
    margin-bottom: 15px;
  }
}

.ui-tab::-webkit-scrollbar {
  width: 0;
}

.ui-tab {
  -ms-overflow-style: none;
}

.ui-tab {
  overflow: -moz-scrollbars-none;
}

.ui-title {
  font-family: 'FuturaDemiC';
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  color: #172542;

  &.fs-35 {
    font-size: 35px;
  }
}

.ui {
  &-status {
    padding: 0 12px;
    line-height: 30px;
    font-family: 'FuturaDemiC';
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    white-space: nowrap;

    &.green {
      background-color: #43CF7B;
    }

    &.red {
      background-color: #CF4343;
    }

    &.light-blue {
      background-color: #ADBFD4;
    }
  }
}

.ui-breadcrumbs {
  margin-bottom: 30px;

  &.margin-72 {
    margin-bottom: 72px;
  }

  &.flex {
    align-items: center;
  }

  img {
    margin-right: 10px;
  }

  &-link {
    font-size: 22px;
    color: #172542;
    // padding-bottom: 2px;
    border-bottom: 1px solid #FAD89D;
  }

  &-dash {
    margin: 0 12px;
    margin-top: 2px;
    width: 15px;
    height: 1px;
    background-color: #BECCDC;
  }

  &-current {
    font-size: 22px;
    color: #BECCDC;
  }
}

.ui-count {
  background: #EEF1F7;
  max-width: 180px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 60px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &-btn {
    position: absolute;
    width: 60px;
    height: 100%;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #dfe3ed;
    }

    &.minus {
      left: 0;
      top: 0;
    }

    &.plus {
      right: 0;
      top: 0;
    }
  }

  input[type="number"] {
    display: block;
    height: 56px;
    line-height: 56px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: none;
    font-size: 22px;
    outline: none;
    margin: 2px 0;
    padding: 0 60px;
    -moz-appearance: textfield;
  }
}

.country {
  position: fixed;
  z-index: 999;
  background: #fff;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 25px 20px;

  &-title {
    margin-bottom: 20px;
    font-size: 20px;

    @media(max-width: 1024px) {
      font-size: 16px;
    }
}

  .ui-btn {
    &:first-child {
      margin-right: 15px;
    }

    @media(max-width: 1024px) {
      max-width: 160px;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
    }
  }
}

.ui {
  &-select {
    position: relative;
    // margin-bottom: 8px;

    &-img {
      position: absolute;
      top: 25px;
      left: 25px;

      &.center {
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    span {
      font-size: 18px;
      color: #728EAE;
      margin-top: 2px;
    }

    .padding {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
      display: inline-flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;
      user-select: none;
      padding: 26px 21px 26px 62px;
      border: 1px solid #d3d3d3;
      border-radius: 8px;
      width: 100%;
      cursor: pointer;
      font-size: 20px;
      color: #172542;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid #d3d3d3;
        border-radius: 50%;
        position: absolute;
        right: 21px;
        top: 25px;
      }
    }

    &:checked {
      &+label {
        outline: 2px solid #FAD89D;
        border-color: transparent;

        &::before {
          content: "";
          border: 2px solid #FAD89D;
        }

        &::after {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background-color: #FAD89D;
          position: absolute;
          top: 29px;
          right: 25px;
          border-radius: 50%;
        }
      }
    }
  }
}

textarea.ui-input {
  height: auto;
  padding: 16px;
  white-space: normal;
  line-height: 1.375;
  resize: vertical;
  border-radius: 6px;
}

span.error {
  color: #bc0000;
}

.ui-input.error {
  border-color: #bc0000;

  // &::placeholder {
  //   color: #bc0000 !important;
  // }
}