.page-wrapper {
  padding-bottom: 140px;

  @media(max-width: 1280px) {
    padding-bottom: 100px;
  }

  @media(max-width: 576px) {
    padding-bottom: 65px;
  }

  .ui-title {
    margin-bottom: 80px;

    @media(max-width: 1440px) {
      margin-bottom: 45px;
      font-size: 40px;
    }

    @media(max-width: 1280px) {
      margin-bottom: 30px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 15px;
    }
  }
}

.ui-btn {
  font-family: 'FuturaBookC';
  background: #FAD89D;
  font-size: 20px;
  color: #172542;
  border: none;
  max-width: 206px;
  width: 100%;
  height: 56px;
  border-radius: 48px;
  cursor: pointer;
  transition: 0.1s ease-out;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 0 10px;
  line-height: 56px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.white {
    background: transparent;
    border: 1px solid #172542;

    &:hover {
      border: 1px solid transparent;
    }
  }

  &.dark-blue {
    background: #172542;
    color: #FAD89D;

    &:hover {
      background: #23365c;
      color: #FAD89D;
    }
  }

  &:hover {
    background: #fadca9;
  }

  @media(max-width: 1440px) {
    height: 52px;
    line-height: 52px;
    font-size: 18px;
  }
}

.ui-input {
  width: 100%;
  height: 56px;
  border-radius: 6px;
  border: 1px solid #D9E4F1;
  padding: 0 5px 0 24px;
  font-family: FuturaBookC;
  font-weight: 400;
  font-size: 20px;
  color: #172542;
  position: relative;

  &.height-120 {
    height: 120px;
  }

  &:hover {
    outline: 2px solid #ffebca;
    border-color: transparent;
  }

  &:focus {
    outline: 2px solid #fad89d;
    border-color: transparent;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &::placeholder {
    color: #BECCDC;
  }

  &.popup {
    border-radius: 6px;
    padding-left: 22px;
  }

  @media(max-width: 1440px) {
    height: 52px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &::placeholder {
    color: #BECCDC;
  }
}

.ui-rating.flex {
  flex-wrap: wrap;
  align-items: center;
}

.ui-rating-stars {
  margin-right: 10px;
  font-size: 0;

  @media(max-width: 1280px) {
    margin-right: 5px;
  }
}

.ui-rating-star {
  display: inline-block;
  background: url(.././images/icon/star-empty.svg) repeat 0 0;
  margin-right: 3px;

  &.active {
    background: url(.././images/icon/star.svg) repeat 0 0;
  }

  &.base {
    width: 20px;
    height: 20px;
    background-size: cover;

    @media(max-width: 1440px) {
      width: 16px;
      height: 16px;
    }
  }

  &.small {
    width: 16px;
    height: 16px;
    background-size: cover;
  }
}

.ui-rating-value {
  font-weight: 400;
  font-size: 16px;
  color: #858585;

  @media(max-width: 1440px) {
    font-size: 14px;
  }
}

.ui-tab {
  text-align: left;
  letter-spacing: 0.05em;
  font-size: 36px;

  @media(max-width: 1440px) {
    font-size: 32px;
  }

  @media(max-width: 1280px) {
    font-size: 28px;
  }

  @media(max-width: 1024px) {
    font-size: 24px;
  }

  &.flex {
    flex-wrap: wrap;
  }

  .split {
    display: inline;
    font-family: FuturaMediumC;
    font-style: normal;
    font-weight: 500;
    margin: 0 8px;
    color: #172542;

    @media(max-width: 1024px) {
      font-size: 24px;
    }
  }

  &-link {
    font-family: 'FuturaMediumC';
    font-style: normal;
    font-weight: 500;
    color: #172542;
    border-bottom: 2px solid transparent;
    margin-bottom: 9px;
    border-bottom: 1px solid transparent;

    &.active {
      color: #172542;
      border-bottom: 2px solid #172542;
    }
  }

  @media (max-width: 1024.99px) {
    margin-bottom: 15px;
  }
}

.ui-tab::-webkit-scrollbar {
  width: 0;
}

.ui-tab {
  -ms-overflow-style: none;
}

.ui-tab {
  overflow: -moz-scrollbars-none;
}

.ui-title {
  font-family: 'FuturaDemiC';
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  color: #172542;

  &.fs-35 {
    font-size: 35px;

    @media(max-width: 1440px) {
      font-size: 30px;
    }

    @media(max-width: 1280px) {
      font-size: 25px;
    }
  }

  @media(max-width: 1440px) {
    margin-bottom: 45px;
    font-size: 40px;
  }

  @media(max-width: 1280px) {
    font-size: 36px;
    margin-bottom: 30px;
  }

  // @media(max-width: 1024px) {
  //   font-size: 36px;
  // }

  @media(max-width: 576px) {
    font-size: 32px;
  }

  @media(max-width: 360px) {
    font-size: 28px;
  }
}

.ui {
  &-status {
    padding: 0 12px;
    line-height: 30px;
    font-family: 'FuturaDemiC';
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    white-space: nowrap;

    @media(max-width: 1440px) {
      font-size: 13px;
      line-height: 26px;
      padding: 0 10px;
    }

    @media(max-width: 1024px) {
      padding: 0 6px;
      line-height: 20px;
      font-size: 12px;
    }

    &.green {
      background-color: #43CF7B;
    }

    &.red {
      background-color: #CF4343;
    }

    &.light-blue {
      background-color: #ADBFD4;
    }
  }
}

.ui-breadcrumbs {
  margin-bottom: 30px;
  display: block;

  &.margin-72 {
    margin-bottom: 72px;

    @media(max-width: 1440px) {
      margin-bottom: 55px;
    }

    @media(max-width: 1280px) {
      margin-bottom: 50px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 30px;
    }

    // @media(max-width: 576px) {
    //   margin-bottom: 42px;
    // }
  }

  img {
    margin-right: 10px;
    position: relative;
    top: 5px;
  }

  &-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: #172542;

    span {
      border-bottom: 1px solid #FAD89D;
    }

    @media(max-width: 768px) {
      font-size: 18px;
    }

    @media(max-width: 576px) {
      font-size: 16px;
    }
  }

  &-dash {
    display: inline-block;
    vertical-align: sub;
    margin: 0 12px;
    margin-top: 2px;
    width: 15px;
    height: 1px;
    background-color: #BECCDC;
  }

  &-current {
    font-size: 22px;
    color: #BECCDC;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: 2px;

    @media(max-width: 768px) {
      font-size: 18px;
    }

    @media(max-width: 576px) {
      font-size: 16px;
    }
  }
}

.ui-count {
  background: #EEF1F7;
  max-width: 180px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 60px;

  @media(max-width: 1440px) {
    max-width: 160px;
  }

  @media(max-width: 1140px) {
    max-width: 130px;
    height: 40px;
  }

  @media(max-width: 1024px) {
    height: 40px;
    max-width: 100px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &-btn {
    position: absolute;
    width: 60px;
    height: 100%;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'FuturaLightC';

    @media(max-width: 1440px) {
      width: 50px;
    }

    @media(max-width: 1140px) {
      width: 40px;
    }

    @media(max-width: 1024px) {
      width: 32px;
    }

    &:hover {
      background-color: #dfe3ed;
    }

    &.minus {
      left: 0;
      top: 0;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 2px;
        background: url(../images/icon/ui-minus.svg) center no-repeat;
        background-size: contain;
      }
    }

    &.plus {
      right: 0;
      top: 0;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background: url(../images/icon/ui-plus.svg) center no-repeat;
        background-size: contain;
      }
    }
  }

  input[type="number"] {
    display: block;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: none;
    font-size: 22px;
    outline: none;
    margin: 2px 0;
    padding: 0 60px;
    -moz-appearance: textfield;

    @media(max-width: 1440px) {
      padding: 0 50px;
    }

    @media(max-width: 1140px) {
      height: 36px;
      padding: 0 40px;
    }

    @media(max-width: 1024px) {
      padding: 0 32px;
      height: 36px;
    }
  }
}

.country {
  position: fixed;
  z-index: 999;
  background: #fff;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 25px 20px;

  &-title {
    margin-bottom: 20px;
    font-size: 20px;

    @media(max-width: 1024px) {
      font-size: 16px;
    }
}

  .ui-btn {
    &:first-child {
      margin-right: 15px;
    }

    @media(max-width: 1024px) {
      max-width: 160px;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
    }
  }
}

.ui {
  &-select {
    position: relative;
    height: calc(100% - 12px);

    @media(max-width: 1170px) {
      margin-bottom: 12px;
    }

    @media(max-width: 1024px) {
      height: auto;
    }

    &-img {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translate(0, -50%);
      line-height: 0;
    }

    span {
      font-size: 18px;
      color: #728EAE;
      margin-top: 2px;
    }

    .padding {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      user-select: none;
      padding: 35px 45px 35px 62px;
      border: 1px solid #D4DFEA;
      border-radius: 8px;
      width: 100%;
      cursor: pointer;
      font-size: 20px;
      color: #172542;
      height: 100%;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid #d3d3d3;
        border-radius: 50%;
        position: absolute;
        right: 21px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &:checked {
      &+label {
        outline: 2px solid #FAD89D;
        border-color: transparent;

        &::before {
          content: "";
          border: 2px solid #FAD89D;
        }

        &::after {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background-color: #FAD89D;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          right: 25px;
          border-radius: 50%;
        }
      }
    }
  }
}

textarea.ui-input {
  height: auto;
  padding: 16px;
  white-space: normal;
  line-height: 1.375;
  resize: vertical;
  border-radius: 6px;

  &.height-120 {
    height: 120px;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

span.error {
  color: #bc0000;
}

.ui-input.error {
  border-color: #bc0000;
  margin-bottom: 5px;
}

.ui-checkbox {
  display: block;
  position: relative;
  padding-left: 34px;
  font-size: 18px;

  &-inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
  }

  &-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }

  &-label {
    cursor: pointer;

    &::before {
      content: "";
      width: 22px;
      height: 22px;
      border: 1px solid #d9e4f1;
      background-color: #ffffff;
      border-radius: 3px;
      cursor: pointer;
      position: absolute;
      top: -5px;
      left: 0;
      z-index: 1;
      transition: .15s background-color, .15s border;
    }

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 6px;
      z-index: 1;
      width: 10px;
      height: 5px;
      border-left: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
      opacity: 0;
      transition: .15s opacity, .15s transform;
    }

    span {
      color: #8BA0B7;
    }
  }

  &:hover {
    .ui-checkbox-input+.ui-checkbox-label {
      &:before {
        border-color:  #2A4455;
      }
    }
  }

  &-input:checked {
    &+.ui-checkbox-label::before {
      border-color:  #2A4455;
      background-color:  #2A4455
    }

    &+.ui-checkbox-label::after {
      opacity: 1;
      transform: rotate(-45deg);
    }
  }

  &-input:disabled {
    cursor: not-allowed;

    &+.ui-checkbox-label {
      color: #D3D3D3;
      cursor: not-allowed;
    }

    &+.ui-checkbox-label::before {
      border-color: #D3D3D3 !important;
      background-color: #FFF !important;
      cursor: not-allowed;
    }

    &+.ui-checkbox-label::after {
      opacity: 0;
      cursor: not-allowed;
    }
  }
}

.ui-tooltip {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  z-index: 1;
  cursor: pointer;
  right: 10px;
  top: 0;
  font-weight: 400;
  position: absolute;

  &-icon {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;

    svg {
      height: 20px;
      width: 20px;
      fill: #728EAE;
    }

    &:hover {
      svg {
        fill: #829cb9;
      }
    }
  }

  &-answer {
    position: absolute;
    width: 224px;
    left: -87px;
    top: -50px;
    background: #fff;
    box-shadow: 0px 4px 35px rgba(114, 142, 174, 0.2);
    border-radius: 3px;
    padding: 13px 8px 9px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 1.375;
    transform: translate(8px, -50%);
    opacity: 0;
    visibility: hidden;
    transition: .15s visibility, .15s opacity, .15s transform;

    @media(max-width: 1030px) {
      left: -190px;
    }
  }

  &:hover {
    z-index: 109;

    .ui-tooltip-icon {
      background-color: transparent;
      color: #728EAE !important;
    }

    .ui-tooltip-answer {
      visibility: visible;
      opacity: 1;
      transform: translate(0px, -50%);
    }
  }

  @media (max-width: 768.99px) {
    &-answer {
      position: fixed;
      z-index: 110;
      left: 0px;
      right: 0px;
      width: auto;
      top: auto;
      bottom: 0px;
      padding: 20px 15px;
      transform: translate(0px, -15px);
      max-height: calc(100vh - 80px);
      overflow-y: auto;
      border-radius: 0;
    }

    &:hover {
      .ui-tooltip-answer {
        transform: translate(0px, 0px);
      }
    }
  }
}

.ui-txt {
  font-family: 'FuturaBookC';
  font-size: 22px;
  color: #172542;
  letter-spacing: 0.05em;
  margin-top: 45px;

  @media(max-width: 1440px) {
    font-size: 20px;
  }
}

.ui-fav-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  background: #F2F2F2;
  height: 52px;
  border-radius: 0 0 0 16px;
  z-index: 1;
  cursor: pointer;

  @media(max-width: 1440px) {
    width: 42px;
    height: 42px;
  }

  &:hover {
    background: #ffe5e5;
  }

  img {
    position: relative;
    top: 11px;
    left: 14px;

    @media(max-width: 1440px) {
      top: 6px;
      left: 12px;
      width: 25px;
      height: 25px;
    }
  }
}

.swiper-pagination-bullet-active {
  background: #172542 !important;
}

.ui-pgn {
  margin-bottom: 45px;

  .ui-btn-block {
    margin-bottom: 30px;
  }

  &-btns {
    font-size: 0;

    @media(max-width: 1024px) {
      text-align: center;
    }

    svg.sprite {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: fill .3s,stroke .3s;
    }
  }

  &-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
    margin: 0px 3px 5px;

    &-icon {
      fill: #d3d3d3;
    }
    &:hover {
      .ui-pgn-arrow-icon {
        fill: #2a4455;
      }
    }
  }

  &-btn {
    display: inline-block;
    vertical-align: middle;
    font-family: 'FuturaMediumC';
    width: 40px;
    height: 40px;
    margin-right: 8px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    margin: 0px 0 5px;
    font-size: 24px;

    &:hover {
      color: .8;
    }

    &.current {
      border-radius: 50%;
      background: #FAD89D;
    }
  }

  &-dots {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-weight: 600;
    margin: 0px 3px 5px;
    font-size: 16px;
  }

  @media (max-width: 480px) {
    &-arrow {
      margin-left: 0;
      margin-right: 0;
      width: 24px;
      padding: 10px 4px;
    }
    &-btn,
    &-dots {
      margin-left: 2px;
      margin-right: 2px;
    }
  }
  @media (max-width: 420px) {
    &-arrow {
      width: 24px;
      height: 32px;
      padding: 5px 4px;
    }
    &-btn,
    &-dots {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
  }
  @media (max-width: 360px) {
    &-arrow {
      width: 32px;
      height: 32px;
      padding: 5px 4px;
    }
    &-btn,
    &-dots {
      display: none;

      &.current {
        display: inline-block;
      }
    }
    .ui-btn-block {
      margin-bottom: 10px;
    }
  }
}

.jq-selectbox__select {
  background: #fff;
  box-shadow: none;
  text-shadow: none;
  height: 56px;
  line-height: 56px;
  border: 1px solid #D4DFEA;
  border-radius: 6px;
  padding-left: 24px;

  @media(max-width: 1440px) {
    height: 52px;
    line-height: 52px;
  }

  @media(max-width: 1024px) {
    height: 46px;
    line-height: 46px;
  }

  &:hover {
    background: #fdfdfe;
  }
}

.jq-selectbox__select-text {
  font-family: 'FuturaBookC';
  font-size: 20px;
  color: #172542;

  @media(max-width: 1280px) {
    font-size: 18px;
  }

  @media(max-width: 1024px) {
    font-size: 16px;
  }
}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  // left: 0;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  -o-transition: transform .15s;
  transition: transform .15s;
  transition: transform .15s,-webkit-transform .15s;
  width: 24px;
  height: 24px;
  background: url(.././images/icon/arrow-select.svg) center no-repeat;
  background-size: contain;
  border: none;
}

.jq-selectbox {
  width: 100%;
}

.jq-selectbox__select-text {
  width: 100% !important;
  padding-right: 35px;
}

.jq-selectbox__dropdown {
    top: 36px !important;
    margin: 0;
    border-radius: 0;
    z-index: -1;
    padding-top: 26px;
    box-shadow: 0px 4px 35px rgba(114, 142, 174, 0.2);
    // padding-bottom: 14px;
    min-width: 95px;
    width: 100% !important;
}

.jq-selectbox__dropdown ul {
  background: #fff;
  padding-bottom: 14px;
  margin-bottom: 0;
}

.jq-selectbox li.selected {
  background: transparent;
  color: #172542;
}

.jq-selectbox li {
  font-family: 'FuturaBookC';
  font-size: 20px;
  color: #172542;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;

  @media(max-width: 1024px) {
    font-size: 16px;
  }
}

.jq-selectbox li:hover {
  background: #fff;
  color: #364e80;
}

.ui-label {
  display: block;
  position: absolute;
  top: 16px;
  left: 24px;
  font-size: 20px;
  color: #728EAE;
  pointer-events: none;

  span.dot {
    color: #E70A0A;
  }

  &.active {
    display: block;
    position: absolute;
    left: 20px;
    top: -9px;
    color: #728EAE;
    font-family: 'FuturaMediumC';
    background: #fff;
    padding: 0 5px;
  }
}