/* container */
$widthContainer: 1640px;
$paddingContainer: 20px;

/* base typography */
$baseFont: FuturaBookC;
$baseWeight: 400;

/* colors */
$linkColor: #000; /* base color for <a> */

$gray: #728EAE;
$font: #172542;

$border: #D4DFEA;

$primary: #FFD285;