.header {
  padding: 28px 0 38px 0;
  box-shadow: 0px 4px 35px rgba(114, 142, 174, 0.2);
  margin-bottom: 40px;

  @media(max-width: 1024px) {
    padding: 20px 0 25px 0;
  }

  &-content {
    display: flex;
    align-items: center;

    @media(max-width: 1024px) {
      // justify-content: space-between;
      display: none;
    }
  }

  &-mob {
    display: none;

    @media(max-width: 1024px) {
      display: block;

      &-bottom {
        position: relative;

        .ui-input {
          height: 42px;
          z-index: 3;
        }

        .header-control-btn {
          top: 10px;
        }
      }

      &-top {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      &-logo {
        max-width: 84px;
      }
    }
  }

  &-burger {
    display: none;

    &.active {
      @media(max-width: 1024px) {
        display: block;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        height: 100%;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 20px 20px 35px 20px;
        overflow-y: auto;
      }
    }

    &-menu {
      // margin-left: 15px;

      li {
        // margin-bottom: 22px;

        &:last-child {
          margin-bottom: 34px;
        }

        a {
          position: relative;
          font-size: 20px;
          color: #172542;
          display: block;
          width: 100%;
          padding: 16px 0;

          &::after {
            content: "";
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -5px;
            width: 12px;
            height: 10px;
            background: url(.././images/icon/arrow-burger.svg) center no-repeat;
            background-size: contain;
          }

          &.blue {
            color: #728EAE;
          }

          img {
            position: relative;
            top: -8px;
            left: -2px;
          }
        }
      }
    }

    &-close {
      line-height: 0;

      svg {
        pointer-events: none;
        width: 24px;
        height: 24px;
      }
    }

    &-top {
      margin-bottom: 40px;

      &.flex {
        align-items: center;
      }
    }

    &-search {
      position: relative;
      width: 100%;
      margin-right: 20px;

      .ui-input {
        height: 48px;
        z-index: 3;
      }

      .header-control-btn.clear-input.active {
        top: 15px;
      }

      .header-search-result.active {
        width: calc(100% + 15px);
      }
    }

    &-footer {
      padding-top: 32px;
      padding-bottom: 40px;
      margin: 0 -20px;
      background: #F9FCFF;
      margin-bottom: -35px;
    }

    &-content {
      padding-left: 20px;
      padding-right: 20px;

      .header-control-number {
        display: block;
        margin-bottom: 32px;
      }
    }

    &-list {
      padding-bottom: 12px;
      margin-bottom: 35px;
      border-bottom: 1px solid #D9E4F1;

      ul {
        margin-bottom: 0;
      }

      li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 18px;

        a {
          color: #172542;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }



    &-country {
      position: relative;
    }

    &-img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    &-title {
      color: #172542;
      padding-left: 30px;

      a {
        color: #172542;
      }
    }
  }

  &-logo {
    margin-right: 34px;
    min-width: 184px;

    @media(max-width: 1440px) {
      min-width: 165px;
      margin-right: 32px;
    }

    @media(max-width: 1230px) {
      min-width: 115px;
    }
  }

  &-control {
    width: 100%;

    &-section {
      position: relative;

      &:hover {
        .menu-drop {
          display: flex;
        }
      }
    }

    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 33px;

      // &.current {
      //   justify-content: space-between;
      // }

      .header-control-item {
        display: none;

        @media(max-width: 1260px) {
          display: block;
          position: relative;
          font-size: 18px;
          color: #172542;
          padding: 14px 20px 14px 18px;
          white-space: nowrap;
          margin-right: 40px;
          background: #F8FBFF;
          border-radius: 32px;

          img {
            top: -2px;
          }
        }
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
    }

    &-nav {
      display: flex;
      width: 100%;
      margin-right: 46px;
      border-right: 1px solid #D9E4F1;
      // white-space: nowrap;

      @media(max-width: 1440px) {
        margin-right: 32px;
      }

      @media(max-width: 1230px) {
        border-right: none;
        margin-right: 0;
      }

      &>ul {
        margin-bottom: 0;
        display: flex;
        width: 100%;
        margin-left: 15px;

        &>li {
          display: inline-block;
          // margin-right: 15px;
          flex: 1 0 auto;

          // &:last-child {
          //   margin-right: 30px;
          // }

          &:first-child {
            @media(max-width: 1260px) {
              display: none;
            }
          }

          &>a {
            font-size: 22px;
            color: #172542;
            padding: 10px 15px;
            // padding: 14px 20px 11px 18px;
            // margin-right: 47px;

            @media(max-width: 1440px) {
              // padding-left: 15px;
              // padding-right: 15px;
              font-size: 20px;
              padding: 10px;
            }

            &:hover {
              // background: #F8FBFF;
              color: #a8bed6;
            }
          }
        }
      }
    }

    &-item {
      position: relative;

      &.current {
        background-color: #FAD89D;
        font-size: 22px;
        color: #172542;
        padding: 10px 15px;

        @media(max-width: 1440px) {
          font-size: 20px;
        }

        &:hover {
          background: #fadca9;
          color: #172542;
        }
      }

      &.hidden-search {
        @media(max-width: 1260px) {
          display: none;
        }
      }

      img {
        position: relative;
        top: -3px;
      }

      &.hidden {
        @media(max-width: 1260px) {
          display: none;
        }
      }
    }

    &-optional {
      white-space: nowrap;

      @media(max-width: 1230px) {
        display: none;
      }

      ul {
        margin-bottom: 0;
      }

      li {
        display: inline-block;
        margin-right: 10px;

        &:first-child {
          margin-right: 48px;

          @media(max-width: 1440px) {
            margin-right: 32px;
          }
        }
      }

      a {
        position: relative;
        font-size: 22px;
        color: #728EAE;

        @media(max-width: 1440px) {
          font-size: 20px;
        }

        &:hover {
          color: #a8bed6;
        }

        img {
          position: absolute;
          top: 1px;
          line-height: 0;

          &.fire {
            right: -14px;
          }

          &.precent {
            right: -11px;
          }
        }
      }
    }

    &-link {
      max-width: 156px;
      width: 100%;
      text-align: right;

      a {
        margin-left: 19px;

        @media(max-width: 1230px) {
          margin-left: 24px;
        }

        &:first-child {
          stroke: #000;

          svg {
            &:hover {
              stroke: #a8bed6;
            }
          }
        }
      }

      .hidden {
        @media(max-width: 1024) {
          display: none;
        }
      }

      svg {
        width: 30px;
        height: 30px;
        transition: 0.1s ease-out;

        @media(max-width: 1230px) {
          width: 25px;
          height: 25px;
        }

        @media(max-width: 1024px) {
          width: 20px;
          height: 20px;
        }

        &:hover {
          fill: #a8bed6;
        }
      }
    }

    &-search {
      position: relative;
      max-width: 850px;
      width: 100%;
      margin-right: 60px;

      @media(max-width: 1440px) {
        margin-right: 58px;
        max-width: 655px;
      }

      @media(max-width: 1260px) {
        max-width: 405px;
        margin-right: 20px;
      }

      &.main {
        .ui-input {
          z-index: 3;
        }
      }

      &.current {
        // max-width: calc(100% - 216px);
        @media(max-width: 1260px) {
          max-width: 100%;
          margin-right: 40px;
        }

        // @media(max-width: 1260px) {
        //   max-width: calc(100% - 184px);
        // }
      }
    }

    &-btn {
      position: absolute;
      left: 21px;
      top: 18px;
      background: transparent;
      border: none;
      padding: 0;
      z-index: 3;
      cursor: pointer;

      @media(max-width: 1440px) {
        top: 15px;
      }

      &.clear-input {
        display: none;

        &.active {
          display: block;
          position: absolute;
          right: 26px;
          left: auto;
          top: 18px;

          @media(max-width: 1024px) {
            top: 10px;
          }

          svg {
            width: 20px;
            height: 20px;
            fill: #ADBFD4;
            pointer-events: none;
          }

          &:hover {
            svg {
              fill: #728EAE;
            }
          }
        }
      }
    }

    &-number {
      font-family: 'FuturaMediumC';
      color: #728EAE;
      font-size: 30px;
      line-height: 1.2;
      margin-right: 62px;
      font-weight: 500;
      white-space: nowrap;
      text-transform: uppercase;

      &.hidden {
        @media(max-width: 1260px) {
          display: none;
        }
      }

      @media(max-width: 1440px) {
        font-size: 25px;
        margin-right: 40px;
      }

      @media(max-width: 1230px) {
        font-size: 22px;
      }

      &:hover {
        color: #a8bed6;
      }
    }

    &-cart {
      position: relative;
    }

    &-count {
      background-color: #fdc300;
      border-radius: 8px;
      text-align: center;
      color: #172542;
      font-family: FuturaDemiC;
      top: -20px;
      font-size: 10px;
      position: absolute;
      right: -8px;
      min-width: 16px;
      height: 16px;
      line-height: 16px;
      padding: 0 2px;
    }
  }

  &-search {
    &-result {
      display: none;

      &.active {
        display: block;
        position: absolute;
        left: 50%;
        top: -12px;
        transform: translate(-50%, 0);
        width: calc(100% + 32px);
        padding: 106px 44px 35px 44px;
        z-index: 2;
        background: #fff;
        box-shadow: 0px 4px 35px rgba(114, 142, 174, 0.2);
        border-radius: 12px;

        @media(max-width: 1024px) {
          padding: 106px 15px 35px 15px;
        }
      }

      .ui-btn {
        max-width: 296px;
      }
    }

    &-items {
      margin-bottom: 35px;
    }

    &-item {
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid #D9E4F1;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      @media(max-width: 576px) {
        display: block;
      }
    }

    &-img {
      width: 100%;
      max-width: 56px;
      margin-right: 10px;
    }

    &-info {
      align-items: center;

      &.flex-first {
        max-width: calc(100% - 290px);
        flex: 0 0 calc(100% - 290px);
        padding-right: 10px;

        @media(max-width: 1366px) {
          flex: 0 0 calc(100% - 180px);
          max-width: calc(100% - 180px);
        }

        @media(max-width: 576px) {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 5px;
        }
      }
      &.flex-second {
        // max-width: 46%;
        // flex: 0 0 46%;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 0 0 290px;
        max-width: 290px;

        @media(max-width: 1366px) {
          flex: 0 0 180px;
          max-width: 180px;
          text-align: right;
          display: block;
        }

        @media(max-width: 576px) {
          flex: 0 0 100%;
          max-width: 100%;
          text-align: left;
          padding-left: 66px;
        }
      }
    }

    &-title {
      max-width: 324px;
      font-size: 18px;
      color: #172542;
      line-height: 1.2;
      letter-spacing: 0.05em;
      // margin-right: 15px;
    }

    &-txt {
      font-size: 18px;
      // margin-right: 105px;
      letter-spacing: 0.05em;
      // white-space: nowrap;
      margin-right: 10px;
      flex: 1 0 auto;

      @media(max-width: 1366px) {
        margin-right: 0;
      }

      .stock {
        padding-right: 10px;
        border-right: 1px solid #D9E4F1;
        color: #006B0B;

        @media(max-width:576px) {
          margin-bottom: 4px;
        }
      }

      .count {
        color: #728EAE;
        padding-left: 6px;
      }

      .red {
        color: #D60000;
      }
    }

    &-sum {
      font-size: 18px;
      letter-spacing: 0.05em;
      // white-space: nowrap;
      // flex: 1 0 auto;
    }
  }

  &-icon {
    display: none;

    @media(max-width: 1024px) {
      display: inline-block;

      &:first-child {
        margin-right: 16px;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      .heart {
        stroke: #000;
      }

      .header-control-count {
        top: -15px;
      }
    }

    @media(max-width: 576px) {
      svg {
        width: 20px;
        height: 20px;
      }

      .header-control-count {
        top: -15px;
      }
    }
  }
}


.dropbtn {
  color: #172542;
  border: none;
  font-family: 'FuturaDemiC';
  text-decoration: underline;
  text-decoration-style: dotted;
  background-color: transparent;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  top: -100px;
  min-width: 174px;
  border-radius: 12px;
  z-index: 9999999999;
  padding: 32px 35px 28px 30px;

  &.active {
    display: block;
  }
}

.dropdown-content .dropdown-option {
  color: #172542;
  // padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 18px;
  cursor: pointer;

  &:last-child{
    margin-bottom: 0;
  }

  &.active {
    font-family: 'FuturaDemiC';
  }
}

.menu {
  &-drop {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0px 4px 35px rgba(114, 142, 174, 0.2);
    z-index: 999;
    width: 704px;
    top: 30px;

    @media(max-width: 1440px) {
      left: -190px;
      top: 29px;
    }

    @media(max-width: 1260px) {
      top: 44px;
    }

    .ui-btn {
      display: block;
      line-height: 48px;
      height: 48px;
      margin-left: 47px;
      max-width: 161px;
    }
  }

  &-dropdown {
    height: 71px;
    border-top: 1px solid #d9e4f1;
    padding-top: 20px;
    position: relative;

    .header-burger-country {
      position: absolute;
      bottom: 14px;
    }

    .dropbtn {
      font-size: 18px;
    }

    .header-burger-title {
      font-size: 18px;
    }

    span {
      color: #728EAE;
      font-size: 18px;
    }
  }

  &-items {
    a {
      display: block;
      margin-bottom: 30px;
      font-size: 18px;
      font-family: 'FuturaBookC';
    }

    &:first-child {
      margin-right: 45px;
    }
  }

  &-section {
    &-left {
      padding: 40px 40px 18px 41px;
      border-right: 1px solid #d9e4f1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 0 292px;
      background: #F8FBFF;
      padding-bottom: 20px;

      .footer-caption.underline {
        text-decoration: underline;
      }

      .footer-caption {
        display: block;
        font-size: 18px;
        font-family: 'FuturaBookC';
      }
    }

    &-content {
      padding: 34px 10px 12px 21px;

      .footer-contact {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-btn {
    border-top: 1px solid #d9e4f1;
    padding-top: 20px;
  }

  &-list {
    padding-bottom: 7px;

    ul {
      font-size: 0;
    }

    li {
      display: inline-block;
      width: 50%;
      padding-right: 15px;
      vertical-align: top;
      margin-bottom: 30px;

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }

      a {
        // display: block;
        font-size: 18px;
        font-family: FuturaBookC;
      }
    }
  }
}