.header {
  padding: 28px 0 38px 0;
  box-shadow: 0px 4px 35px rgba(114, 142, 174, 0.2);
  margin-bottom: 40px;

  @media(max-width: 1024px) {
    padding: 20px 0 25px 0;
  }

  &-content {
    display: flex;
    align-items: center;

    @media(max-width: 1024px) {
      // justify-content: space-between;
      display: none;
    }
  }

  &-mob {
    display: none;

    @media(max-width: 1024px) {
      display: block;

      &-bottom {
        position: relative;

        .ui-input {
          height: 42px;
        }

        .header-control-btn {
          top: 10px;
        }
      }

      &-top {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      &-logo {
        max-width: 84px;
      }
    }
  }

  &-logo {
    margin-right: 34px;
    min-width: 184px;

    @media(max-width: 1440px) {
      min-width: 165px;
      margin-right: 32px;
    }
  }

  &-control {
    width: 100%;

    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 33px;

      .header-control-item {
        display: none;

        @media(max-width: 1260px) {
          display: block;
          position: relative;
          font-size: 18px;
          color: #172542;
          padding: 14px 20px 14px 18px;
          white-space: nowrap;
          margin-right: 40px;
          background: #F8FBFF;
          border-radius: 32px;

          img {
            top: -2px;
          }
        }
      }
    }

    &-bottom {
      display: flex;
    }

    &-nav {
      margin-right: 46px;
      border-right: 1px solid #D9E4F1;
      // white-space: nowrap;

      @media(max-width: 1440px) {
        margin-right: 32px;
      }

      ul {
        margin-bottom: 0;
      }

      li {
        display: inline-block;

        &:last-child {
          margin-right: 18px;
        }
      }

      a {
        font-size: 22px;
        color: #172542;
        padding: 14px 20px 11px 18px;

        @media(max-width: 1440px) {
          padding-left: 15px;
          padding-right: 15px;
          font-size: 20px;
        }

        &:hover {
          background: #F8FBFF;
        }
      }
    }

    &-item {
      position: relative;

      img {
        position: relative;
        top: -3px;
      }

      &.hidden {
        @media(max-width: 1260px) {
          display: none;
        }
      }
    }

    &-optional {
      // white-space: nowrap;

      ul {
        margin-bottom: 0;
      }

      li {
        display: inline-block;

        &:first-child {
          margin-right: 48px;

          @media(max-width: 1440px) {
            margin-right: 32px;
          }
        }
      }

      a {
        position: relative;
        font-size: 22px;
        color: #728EAE;

        @media(max-width: 1440px) {
          font-size: 20px;
        }

        &:hover {
          color: #a8bed6;
        }

        img {
          position: absolute;
          top: 1px;
          line-height: 0;

          &.fire {
            right: -14px;
          }

          &.precent {
            right: -11px;
          }
        }
      }
    }

    &-link {
      a {
        &:first-child {
          stroke: #000;

          svg {
            &:hover {
              stroke: #a8bed6;
            }
          }
        }
      }

      .hidden {
        @media(max-width: 1024px) {
          display: none;
        }
      }

      svg {
        width: 30px;
        height: 30px;
        transition: 0.1s ease-out;

        @media(max-width: 1024px) {
          width: 20px;
          height: 20px;
        }

        &:hover {
          fill: #a8bed6;
        }
      }
    }

    &-search {
      position: relative;
      max-width: 850px;
      width: 100%;
      margin-right: 60px;

      @media(max-width: 1440px) {
        margin-right: 58px;
        max-width: 655px;
      }

      @media(max-width: 1260px) {
        max-width: 405px;
        margin-right: 20px;
      }
    }

    &-btn {
      position: absolute;
      left: 21px;
      top: 18px;
      background: transparent;
      border: none;
      padding: 0;
      z-index: 1;
      cursor: pointer;

      @media(max-width: 1440px) {
        top: 15px;
      }
    }

    &-number {
      font-family: 'FuturaMediumC';
      color: #728EAE;
      font-size: 30px;
      line-height: 1.2;
      margin-right: 62px;
      font-weight: 500;
      white-space: nowrap;
      text-transform: uppercase;

      @media(max-width: 1440px) {
        font-size: 25px;
        margin-right: 40px;
      }

      &:hover {
        color: #a8bed6;
      }
    }

    &-link {
      max-width: 138px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &-cart {
      position: relative;
    }

    &-count {
      background-color: #fdc300;
      border-radius: 8px;
      text-align: center;
      color: #172542;
      font-family: FuturaDemiC;
      top: -7px;
      font-size: 10px;
      position: absolute;
      right: -8px;
      min-width: 16px;
      height: 16px;
      line-height: 16px;
      padding: 0 2px;
    }
  }

  &-icon {
    display: none;

    @media(max-width: 1024px) {
      display: inline-block;

      &:first-child {
        margin-right: 16px;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      .heart {
        stroke: #000;
      }

      .header-control-count {
        top: -15px;
      }
    }

    // @media(max-width: 576px) {
    //   svg {
    //     width: 20px;
    //     height: 20px;
    //   }

    //   .header-control-count {
    //     top: -15px;
    //   }
    // }
  }
}