.footer {
  &-info {
    padding-bottom: 90px;
    border-bottom: 1px solid #D9E4F1;
    margin-bottom: 48px;

    @media(max-width: 1024px) {
      padding-bottom: 50px;
      margin-bottom: 30px;
    }

    @media(max-width: 768px) {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    // .row {
    //   @media(max-width: 1024px) {
    //     flex-direction: row-reverse;
    //   }
    // }
  }

  &-content {
    @media(max-width: 1024px) {
      margin-bottom: 25px;
    }
  }

  &-title {
    font-family: 'FuturaDemiC';
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 45px;
    letter-spacing: 0.05em;

    @media(max-width: 1024px) {
      margin-bottom: 25px;
    }
  }

  &-subtitle {
    color: #9BADC2;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: 0.05em;

    @media(max-width: 1024px) {
      br {
        display: none;
      }
    }
  }

  &-links {
    &.flex {
      flex-wrap: wrap;

      @media(max-width: 1024px) {
        display: block;
      }
    }

    &.column-ul {
      ul {
        margin-bottom: 0;
        column-count: 2;
        // width: 100%;
      }

      @media(max-width: 1024px) {
        li {
          width: 100%;
        }
      }
    }


    a {
      display: block;
      line-height: 1.2;
      font-size: 20px;
      color: #172542;
      margin-bottom: 16px;
      letter-spacing: 0.05em;

      @media(max-width: 1024px) {
        font-size: 18px;
      }

      &:hover {
        color: #a8bed6;
      }
    }
  }

  &-contact {
    position: relative;
    // margin-bottom: 10px;
    letter-spacing: 0.05em;

    &:last-of-type {
      margin-bottom: 50px;

      @media(max-width: 1024px) {
        margin-bottom: 25px;
      }
    }

    &-img {
      position: absolute;
      top: 5px;
      margin-right: 8px;
      width: 20px;
      height: auto;

      &.top-8 {
        top: 8px;
      }
    }
  }

  &-caption {
    padding-left: 27px;
    font-size: 20px;
    color: #172542;
    letter-spacing: 0.05em;
    line-height: 1.8;

    @media(max-width: 1024px) {
      font-size: 18px;
    }
  }

  &-other {
    margin-bottom: 40px;

    .flex {
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &-paymnet {
    ul {
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      vertical-align: middle;

    a {
        margin-right: 5px;
        max-width: 98px;
      }

      @media(max-width: 1024px) {
        a {
          max-width: 45px;
        }
      }
    }
  }

  &-create {
    &.flex {
      align-items: center;
    }

    &-logo {
      &.flex {
        align-items: center;
      }
    }

    &-img {
      margin-right: 5px;
      line-height: 0;
      padding-bottom: 15px;

      @media(max-width: 1024px) {
        max-width: 15px;
        padding-bottom: 6px;
      }
    }

    &-name {
      font-size: 20px;
      color: #172542;
      margin-right: 8px;

      @media(max-width: 1024px) {
        font-size: 16px;
      }
    }
  }

  a {
    display: block;

    // &:hover {
    //   color: #a8bed6;
    // }
  }
}