.cart {
  &-container {
    margin-bottom: 145px;

    .ui-title {
      margin-bottom: 85px;

      @media(max-width: 1240px) {
        margin-bottom: 50px;
      }

      @media(max-width: 1024px) {
        margin-bottom: 15px;
      }
    }
  }

  &-final {
    &-price {
      text-align: right;
      background-color: #FFF7EA;
      padding: 27px 32px 20px 0;
      margin-bottom: 50px;

      @media(max-width: 1024px) {
        text-align: start;
        padding: 20px;
      }

      @media(max-width: 768px) {
        margin-bottom: 20px;
      }

      span {
        font-family: 'FuturaDemiC';
        font-size: 20px;

        @media(max-width: 576px) {
          font-size: 18px;
        }

        &.big {
          font-size: 28px;
          margin-left: 20px;

          @media(max-width: 1280px) {
            font-size: 24px;
          }

          // @media(max-width: 1024px) {
          //   font-size: 24px;
          // }

          @media(max-width: 576px) {
            font-size: 20px;
          }
        }
      }
    }
  }

  &-header{
    &.flex {
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &-link {
    font-size: 18px;
    border-bottom: 1px solid #172542;

    &:hover {
      border-color: #a8bed6;
    }
  }

  &-title {
    font-family: 'FuturaMediumC';
    font-size: 36px;
    color: #172542;
    margin-bottom: 50px;
    letter-spacing: .05em;

    @media(max-width: 1440px) {
      font-size: 32px;
      margin-bottom: 30px;
    }

    @media(max-width: 1280px) {
      font-size: 30px;
      margin-bottom: 15px;
    }

    @media(max-width: 1024px) {
      font-size: 28px;
      // margin-bottom: 20px;
    }

    @media(max-width: 576px) {
      font-size: 24px;
    }
  }

  &-txt {
    padding-left: 10px;
    padding-right: 20px;

    @media(max-width: 1024px) {
      padding: 0;
    }
  }

  &-info {
    padding-bottom: 24px;
    margin-bottom: 44px;
    border-bottom: 1px solid #D9E4F1;

    &-txt {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &.flex {
        justify-content: space-between;
        align-items: baseline;
      }

      span {
        font-size: 20px;
        color: #172542;

        @media(max-width: 350px) {
          font-size: 16px;
        }

        &.bold {
          font-family: 'FuturaDemiC';
          font-size: 22px;
          text-align: right;

          @media(max-width: 350px) {
            font-size: 16px;
          }
        }

        &.grey {
          color: #728EAE;
        }

        &.span-label {
          flex: 0 0 60%;
          max-width: 60%;

          @media(max-width: 1280px) {
            font-size: 18px;
          }
        }

        &.span-value {
          flex: 0 0 calc(100% - 60%);
          max-width: calc(100% - 60%);

          @media(max-width: 1280px) {
            font-size: 20px;
          }
        }
      }
    }

    &.margin-30 {
      margin-bottom: 30px;
    }

    &.margin-25 {
      margin-bottom: 25px;
    }
  }

  &-price {
    margin-bottom: 40px;

    .ui-input {
      max-width: 172px;
      height: 48px;

      @media(max-width: 1310px) {
        max-width: 100%;
        margin-bottom: 20px;
      }

      @media(max-width: 1440px) {
        margin-bottom: 10px;
      }

      @media(max-width: 1024px) {
        max-width: 172px;
        margin-bottom: 0;
      }

      @media(max-width: 576px) {
        max-width: 100%;
        margin-bottom: 20px;
      }

      &.hide {
        display: none;
      }
    }

    &.margin-7 {
      margin-bottom: 7px;
    }

    &.margin-30 {
      margin-bottom: 30px;

      @media(max-width: 1440px) {
        margin-bottom: 20px;
      }
    }

    &.flex {
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;

      @media(max-width: 1310px) {
        flex-direction: column;
      }

      @media(max-width: 1024px) {
        flex-direction: row;
      }
    }

    span {
      font-size: 20px;
      color: #172542;

      @media(max-width: 1280px) {
        font-size: 18px;
      }

      &.bold {
        font-family: 'FuturaDemiC';
        font-size: 22px;

        &.fs-28 {
          font-size: 28px;
        }
      }
    }

    &-txt {
      position: relative;
      padding-right: 35px;
      max-width: calc(100% - 172px);

      @media(max-width: 1310px) {
        max-width: 100%;
        margin-bottom: 10px;
      }

      @media(max-width: 1280px) {
        margin-bottom: 5px;
      }

      @media(max-width: 1024px) {
        max-width: calc(100% - 172px);
        margin-bottom: 0;
      }

      @media(max-width: 576px) {
        max-width: 100%;
        margin-bottom: 10px;
      }
    }

    &-discount {
      display: none;

      &.active {
        display: flex;

        svg {
          width: 20px;
          height: 20px;
          fill: #ADBFD4;

          &:hover {
            fill: #E70A0A;
          }
        }
      }
    }

    &-minus {
      font-family: 'FuturaDemiC';
      font-size: 20px;
      color: #172542;
      margin-right: 10px;
    }

    &-value {
      font-size: 20px;
      font-family: 'FuturaDemiC';
      color: #172542;
    }
  }

  &-total {
    .ui-btn {
      max-width: 235px;
    }
  }

  &-btn {
    text-align: right;
  }

  &-items {
    margin-bottom: 42px;

    @media(max-width: 1440px) {
      margin-bottom: 30px;
    }
  }

  &-list {
    @media(max-width: 1024px) {
      margin-bottom: 40px;
    }
  }

  &-item {
    padding: 18px 68px 18px 20px;
    border: 1px solid #D9E4F1;
    border-bottom: 0;
    align-items: center;
    letter-spacing: 0.05em;
    flex-wrap: wrap;
    position: relative;

    @media(max-width: 768px) {
      padding: 15px 30px 15px 15px;
    }

    @media(max-width: 1310px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media(max-width: 1024px) {
      flex-direction: row;
      align-items: center;
    }

    @media(max-width: 525px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media(max-width: 480px) {
      padding: 10px;
    }

    &:first-child {
      border-top: 1px solid #D9E4F1;
    }

    &:last-child {
      border-bottom: 1px solid #D9E4F1;
    }

    &-name {
      @media(max-width: 1140px) {
        .ui-rating.flex {
          display: block;
        }
      }

      @media(max-width: 480px) {
        .ui-rating-star.small {
          width: 12px;
          height: 12px;
        }

        .ui-rating-value {
          font-size: 13px;
        }
      }
    }

    &-count {
      font-size: 18px;
      color: #728EAE;
      margin-right: 40px;

      @media(max-width: 525px) {
        font-size: 16px;
      }
    }

    &-img {
      width: 100%;
      max-width: 140px;
      margin-right: 16px;
      line-height: 0;

      @media(max-width: 1024px) {
        max-width: 100px;
      }

      @media(max-width: 480px) {
        max-width: 60px;
      }

      @media(max-width: 480px) {
        margin-right: 8px;
      }
    }

    &-info {
      align-items: center;

      &.first {
        max-width: calc(100% - 560px);
        flex: 0 0 calc(100% - 560px);
        padding-right: 58px;

        @media(max-width: 1310px) {
          max-width: 100%;
          flex: 0 0 100%;
        }

        @media(max-width: 1024px) {
          margin-bottom: 10px;
        }

        @media(max-width: 480px) {
          padding-right: 30px;
          align-items: flex-start;
        }
      }

      &.txt {
        max-width: calc(100% - 210px);
        flex: 0 0 calc(100% - 210px);
        padding-right: 15px;

        @media(max-width: 1310px) {
          max-width: 100%;
          flex: 0 0 100%;
        }

        @media(max-width: 1024px) {
          max-width: calc(100% - 210px);
          flex: 0 0 calc(100% - 210px);
          // padding-right: 58px;
        }

        @media(max-width: 525px) {
          max-width: 100%;
          flex: 0 0 100%;
          padding-right: 0;
        }
      }

      &.second {
        max-width: 560px;
        flex: 0 0 560px;

        @media(max-width: 1310px) {
          max-width: 100%;
          flex: 0 0 100%;
          padding-left: 155px;
          width: 100%;
        }

        @media(max-width: 1140px) {
          position: relative;
        }

        @media(max-width: 1024px) {
          padding-left: 120px;
        }

        @media(max-width: 480px) {
          flex-wrap: wrap;
          border-top: 1px solid #d9e4f1;
          margin-top: 10px;
          padding-left: 76px;
          padding-top: 10px;
        }

        @media(max-width: 380px) {
          padding-left: 0;
          justify-content: space-between;
        }
      }
      &.price {
        max-width: 210px;
        flex: 0 0 210px;

        @media(max-width: 1310px) {
          max-width: 100%;
          flex: 0 0 100%;
          padding-left: 85px;
        }

        @media(max-width: 1024px) {
          max-width: 210px;
          flex: 0 0 210px;
          padding-left: 0;
        }

        @media(max-width: 525px) {
          max-width: 100%;
          flex: 0 0 100%;
          padding-left: 85px;
        }
      }
    }

    &-price {
      margin-right: 40px;

      @media(max-width: 768px) {
        margin-right: 20px;
      }
    }

    &-title {
      display: block;
      font-family: 'FuturaMediumC';
      font-size: 22px;
      color: #172542;
      max-width: 295px;
      margin-bottom: 12px;

      @media(max-width: 1440px) {
        font-size: 20px;
      }

      @media(max-width: 1024px) {
        max-width: 100%;
      }

      @media(max-width: 480px) {
        font-size: 18px;
      }
    }

    &-old {
      font-family: 'FuturaDemiC';
      font-size: 16px;
      color: #728EAE;
      text-decoration: line-through;
      letter-spacing: .05em;
      margin-bottom: 3px;

      &.right {
        text-align: right;

        @media(max-width: 480px) {
          text-align: left;
        }
      }
    }

    &-present {
      font-family: 'FuturaDemiC';
      font-size: 22px;
      color: #FFA800;
      letter-spacing: .05em;

      @media(max-width: 1440px) {
        font-size: 20px;
      }

      @media(max-width: 650px) {
        font-size: 18px;
      }
    }

    &-sum {
      font-family: 'FuturaDemiC';
      font-size: 22px;
      color: #172542;
      letter-spacing: .05em;

      @media(max-width: 1440px) {
        font-size: 20px;
      }

      @media(max-width: 650px) {
        font-size: 18px;
      }

      &.display {
        @media(max-width: 480px) {
          display: block;
        }
      }
    }

    &-btn {
      position: absolute;
      max-width: 24px;
      margin: auto 0;
      cursor: pointer;
      right: 35px;
      top: 50%;
      transform: translate(0, -50%);

      @media(max-width: 1140px) {
        top: 15px;
        right: 15px;
        transform: translate(0, 0);
      }

      @media(max-width: 480px) {
        top: 10px;
        right: 10px;
        max-width: 18px;
      }

      .sprite {
        max-width: 24px;
        height: 24px;
        fill: #D4DFEA;
        pointer-events: none;

        @media(max-width:480px) {
          max-width: 18px;
          height: 18px;
        }
      }
      use {
        pointer-events: none;
      }
      &:hover {
        .sprite{
          fill: #b7c7d7;
        }
      }
    }

    &-control {
      align-items: center;
      max-width: 370px;
      width: 100%;
      margin-left: auto;

      @media(max-width: 1310px) {
        max-width: none;
        width: auto;
        margin-left: 0;
      }

      &.making-order {
        @media(max-width: 480px) {
          order: 0;
          margin-bottom: 0;
        }
      }

      .ui-count {
        margin-right: 40px;

        @media(max-width: 768px) {
          margin-right: 20px;
        }

        @media(max-width: 1140px) {
          position: absolute;
          right: 0;
          top: -63px;
        }

        @media(max-width: 1024px) {
          top: -65px;
        }

        @media(max-width: 576px) {
          top: -56px;
        }

        @media(max-width: 380px) {
          margin-right: 0;
        }
      }

      @media(max-width: 480px) {
        margin-bottom: 10px;
      }
    }
  }
}