.category {
  &-cart {
    margin-bottom: 53px;

    @media(max-width: 1440px) {
      margin-bottom: 30px;
    }

    @media(max-width: 1280px) {
      margin-bottom: 15px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 10px;
    }
  }

  &-content {
    margin-bottom: 150px;
  }

  &-settings {
    margin-bottom: 80px;

    @media(max-width: 1440px) {
      margin-bottom: 60px;
    }

    @media(max-width: 1280px) {
      margin-bottom: 50px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 30px;
    }
  }

  &-control {
    flex: 1 0 auto;
    padding-right: 15px;

    @media(max-width: 576px) {
      flex: none;
      padding-right: 0;
      width: 100%;
    }
  }

  &-select {
    &-sorting {
      max-width: 310px;
      width: 100%;
      margin-right: 40px;

      @media(max-width: 1024px) {
        margin-right: 0;
        max-width: 250px;
      }

      @media(max-width: 576px) {
        max-width: calc(100% - 115px);
      }
    }

    &-count {
      max-width: 95px;
      width: 100%;

      @media(max-width: 1024px) {
        display: none;
      }
    }
  }

  &-style {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;

    @media(max-width: 576px) {
      display: none;
    }

    &-toggler {
      svg {
        width: 100%;
        height: 100%;
        fill: #172542;
      }

      display: inline-block;
      vertical-align: middle;
      width: 56px;
      height: 56px;
      padding: 14px;
      margin-left: 15px;
      border: 1px solid #D4DFEA;
      border-radius: 6px;

      @media(max-width: 1440px) {
        width: 52px;
        height: 52px;
      }

      @media(max-width: 1024px) {
        width: 46px;
        height: 46px;
      }

      &:hover {
        svg {
          fill: #728EAE;
        }
      }

      &.active {
        svg {
          fill: #728EAE;
        }
      }
    }
  }

  &-bottom {
    @media(max-width: 1024px) {
      margin-bottom: 80px;
    }

    .ui-pgn-btns {
      margin-bottom: 120px;

      @media(max-width: 1440px) {
        margin-bottom: 80px;
      }

      @media(max-width: 1280px) {
        margin-bottom: 65px;
      }

      @media(max-width: 1024px) {
        margin-bottom: 55px;
      }
    }
  }

  &-txt {
    font-family: 'FuturaLightC';
    font-size: 22px;

    @media(max-width: 1440px) {
      font-size: 20px;
    }

    @media(max-width: 1024px) {
      font-size: 18px;
    }

    @media(max-width: 576px) {
      font-size: 16px;
    }

    span {
      color: #0B5089;
      font-family: FuturaMediumC;
    }
  }

  &-subscribe {
    background: #F7F0E7;
    padding: 45px 40px;

    @media(max-width: 1360px) {
      padding: 45px 24px;
    }

    @media(max-width: 1215px) {
      padding: 45px 15px;
    }

    @media(max-width: 1024px) {
      padding: 45px 25px;
    }

    &-caption {
      font-family: 'FuturaMediumC';
      font-size: 32px;
      margin-bottom: 38px;
      letter-spacing: 0.05em;
      position: relative;

      @media(max-width: 1440px) {
        font-size: 30px;
        margin-bottom: 30px;
      }

      @media(max-width: 1280px) {
        font-size: 28px;
        margin-bottom: 28px;
      }

      @media(max-width: 1024px) {
        font-size: 44px;
        text-align: center;

        br {
          display: none;
        }

        img {
          display: none;
        }
      }

      @media(max-width: 1024px) {
        font-size: 28px;
        margin-bottom: 10px;
      }

      img {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &-subtitle {
      font-size: 20px;
      margin-bottom: 40px;

      @media(max-width: 1440px) {
        margin-bottom: 30px;
      }

      @media(max-width: 1280px) {
        font-size: 18px;
        margin-bottom: 20px;
      }

      @media(max-width: 1024px) {
        font-size: 22px;
        text-align: center;
      }

      @media(max-width: 576px) {
        font-size: 16px;
      }
    }

    &-input {
      position: relative;
      margin-bottom: 20px;

      @media(max-width: 576px) {
        margin-bottom: 15px;
      }



      .ui-input {
        border: 1px solid #172542;
        border-radius: 32px;
        padding-left: 51px;
      }

      img {
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &-form {
      .ui-btn {
        margin-bottom: 40px;
        color: #fff;

        @media(max-width: 1024px) {
          max-width: 100%;
        }
      }
    }

    &-warn {
      // @media(max-width: 1024px) {
      //   max-width: 320px;
      //   margin-left: auto;
      //   text-align: end;
      // }

      @media(max-width: 576px) {
        text-align: center;
      }
    }
  }

  &-filter {
    &-menu {
      @media(max-width: 1024px) {
        display: none;

        &.active {
          display: block;
        }
      }

      .ui-field {
        margin-bottom: 2px;
      }

      .ui-input {
        background: transparent;
      }

      .ui-label {
        background: #f9fcff;

        @media(max-width: 1024px) {
          background: #fff;
        }
      }
    }

    &-bg {
      @media(max-width: 1024px) {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(29,38,44,.7);
        z-index: 198;
        cursor: pointer;
      }
    }

    &-close {
      display: none;

      @media(max-width: 1024px) {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -5px;
        right: 0;

        &:before,
        &:after {
          content: "";
          position: absolute;
          left: 8px;
          right: 8px;
          top: 50%;
          margin-top: -1px;
          height: 2px;
          background: #000;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &-btn {
    &-menu {
      display: none;

      @media(max-width: 1024px) {
        display: block;
        height: 46px;
        line-height: 46px;
        font-family: "FuturaBookC";
        font-size: 16px;
        padding: 0 10px;
        border: 1px solid #D4DFEA;
        border-radius: 6px;
        margin-right: 15px;

        svg {
          position: relative;
          top: 3px;
          width: 16px;
          height: 16px;
          stroke: #172542;
        }
      }
    }
  }

  &-range {
    margin-bottom: 30px;
  }

  &-input {
    margin-bottom: 30px;
  }

  &-selected {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #D4DFEA;

    @media(max-width: 1024px) {
      padding-bottom: 15px;
      margin-bottom: 35px;
    }
  }
}

// filter serv

.box-filters {
  padding: 45px 40px;
  background: #f9fcff;
  -webkit-box-shadow: 0 4px 35px rgb(114 142 174 / 20%);
  box-shadow: 0 4px 35px rgb(114 142 174 / 20%);
  margin-bottom: 54px;

  @media(max-width: 1360px) {
    padding: 45px 24px;
  }

  @media(max-width: 1215px) {
      padding: 45px 12px;
    }

    @media(max-width: 1024px) {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 385px;
      max-width: 100%;
      background: #fff;
      // padding: 90px 45px 82px;
      z-index: 999;
      margin-bottom: 0;
      padding: 20px 20px;
    }

    @media(max-width: 1024px) {
      overflow: hidden;
      overflow-y: auto;
      max-height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      margin-right: -15px;
      padding-right: 15px;
    }

}

.box-heading {
  font-family: FuturaMediumC;
  font-size: 32px;
  margin-bottom: 45px;
  padding: 0;
  background: transparent;
  color: #172542;

  @media(max-width: 1440px) {
    font-size: 30px;
    margin-bottom: 35px;
  }

  @media(max-width: 1280px) {
    font-size: 28px;
    margin-bottom: 30px;
  }

  @media(max-width: 1215px) {
    // font-size: 28px;
    margin-bottom: 25px;
  }

  @media(max-width: 1024px) {
    padding-bottom: 20px;
    border-bottom: 1px solid #D4DFEA;
    margin-bottom: 45px;
    position: relative;

  }
}

.box-filters .name {
  background-color: rgba(0,0,0,0);
  color: #172542;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: 0;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: FuturaMediumC;
  font-size: 20px;
  position: relative;
}

.item-title {
  margin-bottom: 15px;
  position: relative;
  padding-right: 35px;

  @media(max-width: 1440px) {
    margin-bottom: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 16px;
    top: 12px;
    margin-top: -5px;
    width: 12px;
    height: 10px;
    background: url(../images/icon/arrow-accordion.svg) center no-repeat;
    background-size: contain;
    -webkit-transition: 0.3s -webkit-transform;
    transition: 0.3s -webkit-transform;
    -o-transition: 0.3s transform;
    transition: 0.3s transform;
    transition: 0.3s transform, 0.3s -webkit-transform;
    transform: none;
  }

  @media(max-width: 1024px) {
    &::after {
      right: 0;
    }
  }

  &.active {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.list-group-item.item-content {
  overflow: hidden;
  padding: 15px 2px 50px;

  .ui-label {
    @media(max-width: 1215px) {
      left: 20px;
    }
  }
}

.inner-box.expanded .list-group-item.item-content {
  display: block;
}

.inner-box.expanded .list-group-item.item-content.active {
  display: none;
}


/* checkbox */
.checkbox {
  display: block;
  position: relative;
  padding-left: 34px;
  font-size: 18px;
}

.filtered .checkbox input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}
.checkbox label {
  cursor: pointer;
}
.filtered input[type=checkbox]+label::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #d9e4f1;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 1;
  transition: 0.15s background-color, 0.15s border;
}
.filtered input[type=checkbox]+label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  z-index: 1;
  width: 10px;
  height: 5px;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  opacity: 0;
  transition: 0.15s opacity, 0.15s transform;
}
.checkbox label span {
  color: #8BA0B7;
}
.checkbox:hover input + label:before {
  border-color: #2A4455;
}
.filtered input[type=checkbox]:checked+label::before {
  border-color: #2A4455;
  background-color: #2A4455;
}
.filtered input[type=checkbox]:checked+label::after {
  opacity: 1;
  transform: rotate(-45deg);
}
.checkbox input:disabled {
  cursor: not-allowed;
}
.checkbox input:disabled + label {
  color: #D3D3D3;
  cursor: not-allowed;
}

.checkbox input:disabled + label::after {
  opacity: 0;
  cursor: not-allowed;
}

.filtered .checkbox input[type=checkbox]+label {
  font-size: 18px;
  color: #172542;
}


.list-group-item.item-content .checkbox {
  margin-bottom: 16px;
}

.list-group-item.item-content .oct-filter-total-label {
  font-size: 18px;
}


.list-group-item.item-content .checkbox.mb-0 {
  margin-bottom: 0;
}


/* input */

.box-filters .form-control {
  width: 100%;
  height: 56px;
  border-radius: 6px;
  border: 1px solid #D9E4F1;
  padding: 0 5px 0 24px;
  font-family: FuturaBookC;
  font-weight: 400;
  font-size: 20px;
  color: #172542;
  position: relative;
  background: transparent;
  margin-bottom: 4px;

  @media(max-width: 1440px) {
    height: 52px;
  }

  @media(max-width: 1215px) {
    padding-left: 20px;
  }
}

.box-filters .form-control:hover {
  outline: #ffebca solid 2px;
  border-color: transparent;
}
.box-filters .form-control:focus {
  outline: 2px solid #fad89d;
  border-color: transparent;
}
.box-filters .form-control::placeholder {
  color: #BECCDC;
}


/* range */

.list-group-item.item-content.price-item {
  padding-bottom: 50px;
  // padding-top: 15px;
}

.checkbox .ui-rating-stars {
  line-height: 0;
}

.checkbox input:disabled+label::before {
  background-color: #e9ecef;
}

.noUi-target {
    /* background: #FAFAFA; */
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: #D4DFEA;
}

.noUi-horizontal {
    height: 12px;
}

.noUi-connect {
    background: #FAD89D;
}

.noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
}

.noUi-handle {
    border: none;
    border-radius: 50%;
    background: #728EAE;
    cursor: default;
    box-shadow: none;
}

.noUi-handle:after, .noUi-handle:before {
    content: "";
    height: 10px;
    left: 9px;
    top: 7px;
}

.noUi-handle:after {
    left: 14px;
}

.noUi-handle.noUi-handle-lower {
    right: -22px;
}

.noUi-handle.noUi-handle-upper {
    right: -2px;
}

.oct-button {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 18px;
  font-family: 'FuturaBookC';
  text-decoration: underline;
  position: relative;
  color: #263a63;
  cursor: pointer;

  &:hover {
    color: #314a7a;
  }

  img {
    position: absolute;
    top: 0;
    right: -30px;
  }
}
