.data {
  &-container {
    margin-bottom: 118px;

    .ui-title {
      margin-bottom: 48px;
    }

    .ui-btn {
      max-width: 100%;

      @media(max-width: 1024px) {
        max-width: 350px;
      }

      @media(max-width: 380px) {
        font-size: 18px;
      }
    }

    .order-info {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-btn {
    a {
      display: block;
      line-height: 80px;
    }
  }

  &-form {
    @media(max-width: 1024px) {
      margin-bottom: 120px;

      .ui-btn {
        max-width: 100%;
      }
    }
  }

  &-btn {
    @media(max-width: 1024px) {
      text-align: right;
    }
  }

  &-menu {
    padding: 36px 10px 62px 60px;
    background: #F9FCFF;
    box-shadow: 0px 4px 35px rgba(114, 142, 174, 0.2);
    color: #172542;

    @media(max-width: 1366px) {
      padding: 40px;
      height: auto;
      font-size: 20px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
      padding: 25px;
    }

    a {
      display: block;
      font-family: 'FuturaBookC';
      font-size: 22px;

      &.active {
        color: #728EAE;
      }

      @media(max-width: 768px) {
        display: inline-block;
        margin-right: 20px;
      }
    }

    li {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      @media(max-width: 768px) {
        margin-bottom: 5px;
      }
    }
  }

  &-title {
    font-family: 'FuturaMediumC';
    font-size: 36px;
    margin-bottom: 32px;
    letter-spacing: 0.05em;

    @media(max-width: 1024px) {
      font-size: 28px;
      margin-bottom: 15px;
    }
  }

  &-info {
    border-bottom: 1px solid #D9E4F1;
    padding-bottom: 30px;
    margin-bottom: 36px;

    &-header {
      margin-bottom: 5px;

      &.flex {
        align-items: baseline;
        justify-content: space-between;
      }
    }

    &-form {
      .ui-btn {
        height: 80px;
        max-width: 100%;

        @media(max-width: 1024px) {
          height: 65px;
        }

        @media(max-width: 768px) {
          max-width: 320px;
        }

        img {
          line-height: 0;
          vertical-align: middle;
          position: relative;
          top: -3px;
        }
      }
    }

    &-title {
      font-family: 'FuturaMediumC';
      font-size: 36px;
      color: #172542;
    }

    &-link {
      font-size: 18px;
      border-bottom: 1px solid #172542;
    }
  }

  &-card {
    margin-bottom: 22px;

    &-img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    &-txt {
      display: inline-block;
      vertical-align: middle;
      font-family: 'FuturaDemiC';
      font-size: 14px;
      color: #728EAE;
    }
  }

  &-bill {
    text-align: right;
    padding: 37px 47px 30px 10px;
    background: #FFF7EA;
    margin-bottom: 28px;
    position: relative;

    &.padding {
      padding-left: 120px;
    }

    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .txt {
      font-family: 'FuturaDemiC';
      font-size: 28px;
      color: #172542;
    }

    .ui-tooltip {
      position: relative;
      right: 0;
      top: -3px;
      text-align: start;
    }
  }

  &-cashback {
    text-align: right;
    color: #172542;
    padding-right: 20px;

    span {
      font-family: 'FuturaDemiC';
      font-size: 20px;
    }
  }
}