@font-face {
	font-family: FuturaBookC;
	font-display: swap;
	src: url("../fonts/FuturaBookC.woff2") format("woff2"), url("../fonts/FuturaBookC.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FuturaBookC_1;
	font-display: swap;
	src: url("../fonts/FuturaBookC_1.woff2") format("woff2"), url("../fonts/FuturaBookC_1.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: futuramediumc;
	font-display: swap;
	src: url("../fonts/futuramediumc.woff2") format("woff2"), url("../fonts/futuramediumc.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: FuturaDemiC;
	font-display: swap;
	src: url("../fonts/FuturaDemiC.woff2") format("woff2"), url("../fonts/FuturaDemiC.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
