.history {
  &-container {
    margin-bottom: 435px;

    @media(max-width: 1366px) {
      margin-bottom: 200px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 150px;
    }

    .ui-title {
      margin-bottom: 48px;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      text-align: left;
      color: #172542;
      padding: 20px 10px 20px 24px;
      font-size: 20px;
      white-space: nowrap;

      &.right {
        text-align: right;
      }

      &.width {
        max-width: 320px;
        min-width: 320px;
      }

      &.border-none {
        border-bottom: none;
      }
    }

    th {
      background: #FFF7EA;
      font-family: 'FuturaMediumC';
      font-weight: 500;
    }

    td {
      font-family: 'FuturaBookC';
      border-bottom: 1px solid #D4DFEA;

      &.border-none {
        border-bottom: none;
      }

      .ui-btn {
        display: block;
        max-width: 54px;
        height: 36px;
        line-height: 40px;
      }
    }
  }

  &-table {
    overflow-x: auto;
  }
}