.duos {
  &-sliders {
    margin-bottom: 60px;

    @media(max-width: 1024px) {
      margin-bottom: 30px;
    }

    @media(max-width:576px) {
      margin-bottom: 20px;
    }

    &-main {
      display: flex;
      max-width: 74.4%;
      flex: 0 0 74.4%;

      @media(max-width: 1366px) {
        max-width: 100%;
        flex: 0 0 100%;
      }

      .btn-main-next:after, .btn-main-prev:after {
        content: '';
      }

      .swiper-button-next,
      .swiper-button-prev {
        width: calc(var(--swiper-navigation-size)/ 44 * 48);

        &:hover {
          opacity: .9;
        }

        @media(max-width: 768px) {
          display: none;
        }
      }

      .swiper-button-next.swiper-button-disabled,
      .swiper-button-prev.swiper-button-disabled {
        opacity: 0.6;
      }

      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        left: 60px;
      }

      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        right: 60px;
      }

      .swiper-pagination.duos-main {
        display: none;

        @media(max-width: 768px) {
          display: block;
        }
      }
    }

    &-second {
      display: flex;
      max-width: 25.6%;
      flex: 0 0 25.6%;

      @media(max-width: 1366px) {
        display: none;
      }

      .swiper-horizontal>.swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        bottom: 20px;
      }

      .swiper-pagination-bullet {
        background: #fff;
        opacity: 1;
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
      }

      .swiper-pagination-bullet-active {
        background: #FAD89D;
      }
    }

    &-img {
      line-height: 0;
      overflow: hidden;

      img {
        height: 604px;
        width: 100%;
        object-fit: cover;
        object-position: center;

        @media(max-width: 1366px) {
          height: auto;
        }
      }
    }

    &-txt {
      position: absolute;
      bottom: 68px;
      left: 40px;
    }

    &-title {
      font-family: 'FuturaMediumC';
      font-size: 32px;
      color: #172542;
      letter-spacing: 0.05em;
    }

    &-subtitle {
      font-size: 22px;
      color: #172542;
      letter-spacing: 0.05em;
    }
  }
}

.form-mailing {
  &-content {
    margin-bottom: 105px;

    @media(max-width: 768px) {
      flex-direction: column;
    }

    .form-mailing {
      max-width: 50%;
      flex: 0 0 50%;
      margin-bottom: 0;
      padding: 80px 95px;

      @media(max-width: 1366px) {
        padding: 50px;
      }

      @media(max-width: 768px) {
        padding: 25px;
      }

      @media(max-width: 768px) {
        max-width: 100%;
        flex: 0 0 100%;
      }

      &.flex {
        flex-direction: column;
        // align-items: flex-start;

        @media(max-width: 1024px) {
          justify-content: start;
        }
      }

      &.light-blue {
        background: #DBEEF5;
      }

      &-txt {
        margin-bottom: 44px;
        max-width: 100%;
        margin-right: 0;

        &.margin-0 {
          margin-bottom: 0;
        }
      }

      &-title {
        margin-bottom: 25px;
      }

      &-subtitle {
        padding-left: 0;
        margin-bottom: 33px;
        max-width: 600px;
      }

      &-list {
        ul {
          margin-bottom: 0;
        }

        li {
          font-family: 'FuturaDemiC';
          font-size: 24px;
          letter-spacing: 0.05em;
          line-height: 1.2;

          @media(max-width: 576px) {
            font-size: 20px;
          }
        }
      }

      &-el {
        margin-bottom: 20px;
        position: relative;
      }

      &-num {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%;
        text-align: center;
        color: #172542;
        border: 2px solid #172542;
        font-family: FuturaDemiC;
        font-size: 32px;
        min-width: 44px;
        height: 44px;
        line-height: 44px;
        padding: 0 2px;
        display: inline-block;
        letter-spacing: 0;
        // margin-right: 13px;

        @media(max-width: 768px) {
          display: none;
        }
      }

      &-caption {
        font-size: 32px;
        padding-left: 65px;

        @media(max-width: 1024px) {
          font-size: 28px;
        }

        @media(max-width: 768px) {
          padding-left: 0;
          font-size: 24px;
        }

        @media(max-width: 576px) {
          font-size: 20px;
        }
      }

      &-caption {
        display: inline-block;

        a {
          // padding-bottom: 2px;
          border-bottom: 2px solid #172542;
          color: #172542;

          &:hover {
            border-color: #a8bed6;
            color: #a8bed6;
          }
        }
      }

      &-cell {
        margin-bottom: 38px;

        @media(max-width: 1024px) {
          flex-direction: column;
        }

        @media(max-width: 768px) {
          flex-direction: row;
        }

        .ui-input {
          max-width: 390px;

          @media(max-width: 1024px) {
            max-width: 100%;
            margin-bottom: 10px;
          }
        }

        .ui-btn {
          max-width: 200px;

          @media(max-width: 1024px) {
            max-width: 100%;
          }
        }
      }

      &-warn {
        font-size: 16px;
        line-height: 1.2;
        max-width: 575px;
      }
    }
  }
}