.shares {
  &-content {
    .ui-title {
      margin-bottom: 85px;

      @media(max-width: 1240px) {
        margin-bottom: 50px;
      }

      @media(max-width: 1024px) {
        margin-bottom: 15px;
      }
    }
  }

  &-card {
    margin-bottom: 80px;

    @media(max-width: 1024px) {
      margin-bottom: 50px;
    }

    &-link {
      display: block;
      position: relative;
      margin-bottom: 35px;

      @media(max-width: 1024px) {
        margin-bottom: 15px;
      }

      .ui-status {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    &-img {
      line-height: 0;
    }

    &-title {
      display: block;
      font-family: 'FuturaMediumC';
      font-weight: 500;
      font-size: 36px;
      color: #172542;
      letter-spacing: 0.05em;
      margin-bottom: 15px;
      line-height: 1.2;

      @media(max-width: 1024px) {
        font-size: 24px;
      }

      @media(max-width: 576px) {
        font-size: 20px;
      }
    }

    &-subtitle {
      position: relative;
      padding-left: 25px;
      color: #728EAE;
      letter-spacing: 0.05em;
      display: inline-block;

      .sprite {
        position: absolute;
        left: 0;
        top: -3px;
        width: 20px;
        height: 20px;

        &.green {
          fill: #43CF7B;
        }

        &.red {
          fill: #CF4343;
        }
      }
    }
  }
}

.form {
  &-mailing {
    padding: 55px 75px;
    background-color: #F7F0E7;
    color: #172542;
    margin-bottom: 160px;

    @media(max-width: 1366px) {
      padding: 35px 75px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 70px;
    }

    @media(max-width: 768px) {
      padding: 35px 45px;
    }

    @media(max-width: 576px) {
      padding: 35px 25px;
    }

    &.flex {
      align-items: center;

      @media(max-width: 1366px) {
        flex-direction: column;
      }

      @media(max-width: 768px) {
        flex-wrap: wrap;
        // justify-content: center;
        flex-direction: row;
      }
    }

    &-txt {
      max-width: 460px;
      width: 100%;
      margin-right: 46px;
      margin-bottom: 25px;

      &.center {
        @media(max-width: 1024px) {
          max-width: none;
          width: auto;
          margin: 0 auto;
          margin-bottom: 25px;
          text-align: center;
        }

        @media(max-width: 576px) {
          margin: 0 auto;
          margin-bottom: 20px;
          text-align: center;
        }
      }
    }

    &-fields {
      width: 100%;

      // @media(max-width:1024px) {
      //   width: auto;
      // }
    }

    &-title {
      font-family: 'FuturaMediumC';
      font-size: 44px;
      margin-bottom: 10px;
      letter-spacing: 0.05em;
      line-height: 1;

      @media(max-width: 768px) {
        font-size: 34px;
      }

      @media(max-width: 576px) {
        font-size: 28px;
      }
    }

    &-subtitle {
      position: relative;
      padding-left: 52px;
      font-size: 20px;
      line-height: 1;
      letter-spacing: 0.05em;
      max-width: 505px;

      @media(max-width: 768px) {
        padding-left: 0;

        img {
          display: none;
        }
      }

      @media(max-width: 576px) {
        font-size: 16px;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;

        @media(max-width: 1024px) {
          left: 20px;
        }
      }
    }

    &-cell {
      position: relative;
      margin-bottom: 10px;

      @media(max-width: 576px) {
        margin-bottom: 20px;
      }

      &.flex {
        @media(max-width: 576px) {
          flex-direction: column;
        }
      }

      .ui-btn {
        background-color: #172542;
        color: #fff;

        @media(max-width: 1366px) {
          max-width: 50%;
        }

        @media(max-width: 576px) {
          max-width: 100%;
        }

        &:hover {
          background-color: #a8bed6;
        }
      }

      .ui-input {
        max-width: 320px;
        margin-right: 12px;
        border-color: #172542;

        @media(max-width: 1366px) {
          max-width: 50%;
        }

        @media(max-width: 576px) {
          max-width: 100%;
          margin-bottom: 15px;
        }

        &:hover {
          border-color: #a8bed6;
        }
      }

      img {
        position: absolute;
        line-height: 0;
        left: 24px;
        top: 21px;

        @media(max-width: 1440px) {
          top: 19px;
        }
      }
    }

    &-warn {
      font-size: 14px;
      line-height: 1;
      max-width: 320px;

      @media(max-width: 1366px) {
        margin-left: auto;
        text-align: end;
      }

      @media(max-width: 576px) {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

.ya-share2__link {
  position: relative;
  display: inline-block;
  border: 1px solid #fad89d;
  border-radius: 50%;
  margin-right: 14px;
  min-width: 56px;
  min-height: 56px;

  &:hover {
    background-color: #fad89d;
  }
}

.ya-share2__container.ya-share2__container_color-scheme_whiteblack .ya-share2__badge,
.ya-share2__container.ya-share2__container_color-scheme_whiteblack .ya-share2__mobile-popup-badge {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent !important;
}

.ya-share2__container_shape_round.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon:not(.ya-share2__icon_messenger-contact):not(.ya-share2__icon_more):not(.ya-share2__icon_copy) {
  background-size: 24px 24px !important;
}

.ya-share2,
.ya-share2 * {
  display: inline-block;
  vertical-align: middle;
}

#uSocial,
.uSocial-Share {
  display: inline-block !important;
  vertical-align: middle !important;
}

#uSocial .uscl-bar.uscl-size24 .ico_uscl,
.uSocial-Share .uscl-bar.uscl-size24 .ico_uscl {
  width: 56px !important;
  height: 56px !important;
  line-height: 55px !important;
  font-size: 28px !important;

  @media(max-width: 768px) {
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    font-size: 18px !important;
  }
}

#uSocial .uscl-bar.uscl-round .ico_uscl,
.uSocial-Share .uscl-bar.uscl-round .ico_uscl {
  border-radius: 100%;
  border: 1px solid #FAD89D;
  background: transparent;
  color: #172542 !important;

  &:hover {
    color: #fff !important;
    border-color: transparent;
  }
}

#uSocial .uscl-bar.uscl-size24 .uscl-item,
.uSocial-Share .uscl-bar.uscl-size24 .uscl-item {
  padding: 0 18px 0 0 !important;

  @media(max-width: 1024px) {
    padding: 0 10px !important;
  }

  &:last-child {
    padding: 0 !important;
  }
}
