.order {
  &-info {
    margin-bottom: 68px;

    &.margin-42 {
      margin-bottom: 42px;
    }

    .ui-btn {
      max-width: 100%;
    }

    // .row {
    //   margin-left: -13px;
    //   margin-right: -13px;

    //   @media(max-width: 1024.99px) {
    //     margin-left: -15px;
    //     margin-right: -15px;
    //   }
    // }

    @media(min-width: 1024px) {
      .col-order-3 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
        padding-left: 13px;
        padding-right: 13px;
      }
    }

    .col-md-6 {
      padding-left: 13px;
      padding-right: 13px;
    }

    &-title {
      font-family: 'FuturaMediumC';
      font-size: 36px;
      margin-bottom: 38px;

      @media(max-width: 1024px) {
        font-size: 28px;
        margin-bottom: 20px;
      }

      @media(max-width: 576px) {
        font-size: 24px;
      }

      &.margin-30 {
        margin-bottom: 30px;

        @media(max-width: 1024px) {
          margin-bottom: 20px;
        }
      }
    }

    &-subtitle {
      font-family: 'FuturaBookC';
      font-size: 20px;
      margin-bottom: 40px;

      @media(max-width: 576px) {
        font-size: 18px;
      }

      a {
        border-bottom: 1px solid #172542;

        &:hover {
          border-color: #a8bed6;
        }
      }
    }

    .ui-field {
      margin-bottom: 26px;
      position: relative;

      @media(max-width: 576px) {
        margin-bottom: 15px;
      }

      .ui-label {
        display: none;

        &.active {
          display: block;
          position: absolute;
          left: 20px;
          top: -9px;
          color: #728EAE;
          font-family: 'FuturaMediumC';
          background: #fff;
          padding: 0 5px;
        }
      }

      input {
        outline: none;

        &.error {
          &:focus {
            &+.ui-label {
              display: block;
              position: absolute;
              left: 20px;
              top: -9px;
              color: #bc0000;
              font-family: 'FuturaMediumC';
              background: #fff;
              padding: 0 5px;
            }

            &::placeholder {
              color: transparent;
            }
          }
        }

        &:focus {
          &+.current {
            display: block;
            position: absolute;
            left: 20px;
            top: -9px;
            color: #728EAE;
            font-family: 'FuturaMediumC';
            background: #fff;
            padding: 0 5px;
          }

          &::placeholder {
            color: transparent;
          }
        }
      }

      &.margin-0 {
        margin-bottom: 0;
      }

      &.margin-30 {
        margin-bottom: 30px;
      }
    }

    .ui-input {
      border-radius: 6px;
      color: #172542;
      font-size: 20px;
      padding-left: 24px;

      &::placeholder {
        color: #728EAE;
      }
    }
  }

  &-form {
    .cart-item {
      padding: 9px 20px 9px 9px;
    }

    .cart-item-img {
      max-width: 76px;
      margin-right: 8px;
    }

    .cart-item-title {
      font-size: 18px;
      max-width: 221px;
      font-family: 'FuturaBookC';
      margin-bottom: 0;

      @media(max-width: 1024px) {
        margin-bottom: 10px;
      }

      @media(max-width: 525px) {
        max-width: 100%;
      }
    }

    .cart-item-sum {
      font-family: 'FuturaBookC';
      font-size: 18px;

      &.display {
        @media(max-width: 480px) {
          display: block;
        }
      }

      @media(max-width: 525px) {
        font-size: 16px;
      }
    }
  }

  &-option {
    margin-bottom: 25px;

    &.margin-0 {
      margin-bottom: 0;
    }
  }

  &-warn {
    position: relative;

    &-img {
      position: absolute;
      left: 0;
      top: -8px;
    }

    &-txt {
      padding-left: 64px;
      font-size: 18px;
      color: #728EAE;

      span {
        font-family: 'FuturaMediumC';

        &.black {
          display: block;
          color: #172542;
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media(min-width: 1024.99px) {
  .col-order-5 {
    flex: 0 0 37.66667%;
    max-width: 37.66667%;
  }

  .col-order-7 {
    flex: 0 0 62.33333%;
    max-width: 62.33333%;
  }

  .col-order-8 {
    flex: 0 0 66.5%;
    max-width: 66.5%;
    padding-left: 13px;
    padding-right: 13px;
  }
}