.result {
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 117px;

  &-lines {
    &.flex {
      align-items: center;
      justify-content: center;
    }
  }

  &-img-txt {
    margin-bottom: 30px;
  }

  &-img {
    margin-bottom: 62px;

    @media(max-width: 1024px) {
      margin: 0 50px;
    }
  }

  &-txt {
    font-size: 32px;
    letter-spacing: 0.05em;
    color: #172542;
    margin-bottom: 20px;

    @media(max-width: 768px) {
      font-size: 28px;
    }

    @media(max-width: 576px) {
      font-size: 20px;
    }
  }

  &-line {
    width: 52px;
    height: 1px;
    background: #172542;
  }

  &-circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin: 0 10px;
    background: #FAD89D;
  }

  img {
    margin-bottom: 30px;
  }

  &-search {
    margin: 0 15px;

    &.flex {
      @media(max-width: 576px) {
        flex-direction: column;
      }
    }

    .header-control-search {
      margin-right: 16px;
      max-width: 100%;
    }

    .ui-btn {
      max-width: 152px;
      width: 100%;

      @media(max-width: 576px) {
        max-width: 100%;
      }
    }

    .ui-input {
      @media(max-width: 576px) {
        margin-bottom: 10px;
      }
    }
  }

  .header-control-search {
    img {
      position: absolute;
      left: 21px;
      top: 18px;
      margin-bottom: 0;
    }
  }
}

.services {
  margin-bottom: 96px;

  &-block {
    @media(max-width: 1024px) {
      margin-bottom: 50px;
    }
  }

  &.margin-58 {
    margin-bottom: 60px;
  }

  &-card {
    max-width: 370px;
    text-align: center;
    position: relative;
    min-height: calc(100% - 40px);
    margin: 0 auto 40px auto;

    @media(max-width: 1024px) {
      max-width: 100%;
      min-height: calc(100% - 30px);
    }

    @media(max-width: 576px) {
      min-height: calc(100% - 20px);
    }

    &.height-auto {
      min-height: auto;

      @media(max-width: 1024px) {
        min-height: calc(100% - 30px);
      }

      @media(max-width: 576px) {
        min-height: calc(100% - 20px);
      }
    }

    &.light-blue {
      background: #DBEEF5;
    }

    &.light-orange {
      background: #F7E5D0;
    }

    &.blue {
      background: #BFD4ED;
    }

    &.light-yellow {
      background: #F7F0E7;
    }

    img {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);

      @media(max-width: 576px) {
        display: none;
      }
    }
  }

  &-txt {
    padding: 46px 50px 152px 50px;
    // margin-bottom: 24px;
    // padding-bottom: 152px;

    @media(max-width: 576px) {
      padding-bottom: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &-title {
    font-size: 24px;
    color: #172542;
    font-family: 'FuturaMediumC';
    margin-bottom: 12px;
    letter-spacing: 0.05em;
  }

  &-subtitle {
    line-height: 1.2;
    color: #172542;
    letter-spacing: 0.05em;
  }
}

.commercial {
  margin-bottom: 131px;

  @media(max-width: 1024px) {
    display: none;
  }

  &-img {
    margin-right: 40px;
    padding-top: 105px;
    max-width: 370px;

    &:last-child {
      margin-right: 0;
    }

    &-txt {
      text-transform: uppercase;

      img {
        margin-bottom: 35px;
      }
    }
  }

  &-title {
    font-size: 30px;
    margin-bottom: 20px;

    strong {
      font-size: 45px;
      letter-spacing: .05em;
    }
  }

  &-subtitle {
    font-size: 30px;

    @media(max-width: 1090px) {
      font-size: 20px;
    }
  }
}

.slider {
  &-items {
    margin-bottom: 84px;

    .swiper-wrapper {
      margin-bottom: 80px;

      @media(max-width: 576px) {
        margin-bottom: 60px;
      }
    }

    .swiper-slide {
      height: auto !important;
    }

    &.margin-17 {
      margin-bottom: 17px;
    }

    .swiper {
      display: none;

      &.active {
        display: flex;
      }
    }

    .btn-new-prev, .btn-new-next {
      position: static;
      width: 100%;
      height: 100%;
      margin-top: 0;
    }

    .btn-new-prev {
      margin-right: 24px;
    }

    .btn-new-prev:after {
      content: '';
    }

    .btn-new-next:after {
      content: '';
    }
  }

  &-tab {
    display: none;

    .slider-item {
      padding-bottom: 95px;
      margin-left: auto;
      margin-right: auto;

      @media(max-width: 576px) {
        padding-bottom: 55px;
      }
    }

    &.active {
      display: block;
      // flex-wrap: wrap;
      // justify-content: space-between;
    }
  }

  &-item {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    &-img {
      margin-bottom: 30px;
      object-fit: contain;
    }

    &-link {
      position: relative;
      color: #172542;

      .ui-status {
        position: absolute;
        top: 0;
        left: 0;
      }

      &.img {
        overflow: hidden;
        position: relative;
        display: block;
        height: 0;
        padding-bottom: 108%;
      }
    }

    &-title {
      font-family: 'FuturaDemiC';
      font-size: 24px;
      color: #172542;
      margin-bottom: 12px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 0.05em;
      // height: 100%;
      min-height: 56px;

      @media(max-width: 1024px) {
        font-size: 20px;
      }

      @media(max-width: 768px) {
        font-size: 16px;
        margin-bottom: 0;
      }
    }

    &-subtitle {
      font-size: 20px;
      color: #9BADC2;
      margin-bottom: 16px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05em;

      @media(max-width: 1024px) {
        font-size: 18px;
      }

      @media(max-width: 768px) {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }

  &-price {
    margin-bottom: 17px;

    @media(max-width: 768px) {
      margin-bottom: 5px;
    }

    &.flex {
      justify-content: space-between;
      align-items: center
    }

    &-num {
      &.flex {
        flex-wrap: wrap;
      }
    }

    &-present {
      font-family: 'FuturaDemiC';
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0.05em;
      margin-right: 12px;

      @media(max-width: 1024px) {
        font-size: 18px;
      }
      @media(max-width: 768px) {
        font-size: 16px;
      }
    }

    &-discount {
      font-family: 'FuturaDemiC';
      font-weight: 600;
      font-size: 24px;
      text-decoration: line-through;
      color: #728EAE;
      letter-spacing: 0.05em;

      @media(max-width: 1024px) {
        font-size: 18px;
      }
      @media(max-width: 768px) {
        font-size: 16px;
      }
    }

    &-cart {
      position: relative;
      max-width: 56px;
      width: 100%;
      height: 56px;
      border-radius: 50%;
      background: #F2F2F2;
      cursor: pointer;
      transition: 0.1s ease-out;

      @media(max-width: 1024px) {
        max-width: 46px;
        max-height: 46px;
      }

      @media(max-width: 768px) {
        max-width: 36px;
        max-height: 36px;
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background: #a8bed6;
      }
    }
  }

  &-control {
    margin-bottom: 64px;

    @media(max-width: 1024px) {
      margin-bottom: 34px;
    }

    &.flex {
      justify-content: space-between;
    }
  }

  &-btn {
    &-previous {
      margin-right: 24px;
    }

    @media(max-width: 1024px) {
      display: none;
    }
  }
}

.swiper-pagination.new-pagination {
  display: none;

  @media(max-width: 1024px) {
    bottom: 0;
    display: block;
  }
}