.payment {
  &-block {
    &> .row > .col-md-9 {
      @media(max-width: 768px) {
        order: 1;
      }
    }
  }
}

.article {
  padding-top: 35px;
  font-size: 22px;
  font-family: 'FuturaLightC';
  margin-bottom: 140px;
  letter-spacing: 0.05em;

  @media(max-width: 1440px) {
    font-size: 20px;
    margin-bottom: 120px;
  }

  @media(max-width: 1280px) {
    font-size: 18px;
    margin-bottom: 80px;
  }

  @media(max-width: 1024px) {
    margin-bottom: 60px;
  }

  h3 {
    font-family: 'FuturaMediumC';

    @media(max-width: 1440px) {
      margin-bottom: 24px;
      font-size: 26px;
    }

    @media(max-width: 1280px) {
      margin-bottom: 22px;
      font-size: 24px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 22px;
    }
  }

  a {
    text-decoration: underline;
  }

  li {
    position: relative;
    padding-left: 14px;
    margin-bottom: 5px;
    letter-spacing: 0.05em;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 5px;
      height: 5px;
      background-color: #172542;
      border-radius: 50%;

      @media(max-width: 1440px) {
        top: 8px;
      }

      @media(max-width: 1280px) {
        top: 6px;
      }
    }
  }

  h2 {
    font-family: 'FuturaMediumC';
    margin-top: 0;

    @media(max-width: 1440px) {
      margin-bottom: 32px;
      font-size: 26px;
    }

    @media(max-width: 1280px) {
      margin-bottom: 22px;
      font-size: 30px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 22px;
      font-size: 28px;
    }
  }
}
