.shares {
  &-more {
    .ui-title {
      margin-bottom: 15px;
    }

    .row.column {
      flex-direction: column;

      @media(max-width: 1024px) {
        flex-direction: row;
      }
    }
  }

  &-caption {
    margin-bottom: 30px;
  }

  &-subtitle {
    &.flex {
      align-items: center;
    }

    .ui-status {
      margin-right: 12px;

      @media(max-width: 438px) {
        margin-bottom: 10px;
      }
    }

    .ui-status {
      display: inline-block;
    }
  }

  &-info {
    &-card {
      margin-bottom: 70px;

      // @media(max-width: 1024px) {
      //   margin-bottom: 30px;
      // }

      @media(max-width: 576px) {
        margin-bottom: 40px;
      }
    }

    &-img {
      margin-bottom: 60px;

      @media(max-width: 1024px) {
        margin-bottom: 30px;
      }

      @media(max-width: 576px) {
        margin-bottom: 15px;
      }
    }

    &-txt {
      font-size: 22px;
      font-family: 'FuturaLightC';
      line-height: 1.2;
      letter-spacing: 0.05em;
      color: #172542;

      @media(max-width: 1024px) {
        font-size: 20px;

        br {
          display: none;
        }
      }

      @media(max-width: 576px) {
        font-size: 16px;
      }

      a {
        font-family: FuturaMediumC;
        color: #0B5089;

        &:hover {
          color: #a8bed6;
        }
      }
    }
  }

  &-share {
    background: #FAFCFF;
    padding: 38px 24px 30px 60px;
    margin-bottom: 115px;

    @media(max-width: 1366px) {
      text-align: center;
      padding: 25px 10px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 70px;
    }

    svg {
      position: absolute;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    &-txt {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: 40px px;
      font-size: 22px;
      letter-spacing: 0.05em;
      color: #172542;
      margin-right: 31px;

      @media(max-width: 1366px) {
        margin-bottom: 10px;
      }

      @media(max-width: 768px) {
        margin-right: 0;
        font-size: 18px;
      }
    }

    &-img {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    &-link {
      position: relative;
      display: inline-block;
      border: 1px solid #FAD89D;
      border-radius: 50%;
      margin-right: 14px;
      min-width: 56px;
      min-height: 56px;

      &:hover {
        background-color: #FAD89D;

        svg {
          fill: #fff;
        }
      }
    }
  }

  &-last {
    margin-bottom: 125px;

    @media(max-width: 1024px) {
      margin-bottom: 30px;
    }

    &-caption {
      font-family: 'FuturaMediumC';
      font-size: 36px;
      letter-spacing: 0.05em;
      color: #172542;
      margin-bottom: 70px;

      @media(max-width: 1024px) {
        font-size: 28px;
        margin-bottom: 25px;
      }

      @media(max-width: 576px) {
        font-size: 24px;
      }
    }

    &-link {
      position: relative;

      .ui-status {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    &-img {
      margin-bottom: 20px;
      line-height: 0;
    }

    &-card {
      max-width: 370px;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
    }

    &-title {
      display: block;
      font-family: 'FuturaMediumC';
      font-size: 28px;
      color: #172542;
      letter-spacing: 0.05em;
      margin-bottom: 15px;
      line-height: 1.2;

      @media(max-width: 1024px) {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    &-subtitle {
      font-size: 16px;
      letter-spacing: 0.05em;
      color: #728EAE;
    }
  }
}