.success {
  &-block {
    padding: 150px 20px 138px 20px;
    border: 1px solid #D9E4F1;
    border-radius: 16px;
    max-width: 1024px;
    margin: 0 auto;
    // margin-bottom: 133px;
    text-align: center;

    @media(max-width: 1024px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &-title {
    font-family: 'FuturaDemiC';
    color: #728EAE;
    font-size: 32px;
    margin-bottom: 44px;

    span {
      color: #172542;
    }

    @media(max-width: 1024px) {
      font-size: 28px;
    }

    @media(max-width: 576px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &-txt {
    font-size: 20px;
    color: #172542;
    line-height: 1.6;
    margin-bottom: 44px;
    max-width: 690px;
    margin: 0 auto;
    margin-bottom: 44px;

    @media(max-width: 768px) {
      br {
        display: none;
      }
    }

    @media(max-width: 576px) {
      font-size: 16px;
    }

    a {
      font-family: 'FuturaDemiC';
    }

    .social {
      display: inline-block;
      font-family: 'FuturaBookC';
      font-size: 20px;
      color: #172542;

      span {
        border-bottom: 1px solid #172542;
        transition: .1s ease-out;
      }

      img {
        display: inline-block;
        /* margin-right: 5px; */
        width: 24px;
        /* vertical-align: sub; */
        position: relative;
        top: 5px;
      }

      &:hover {
        span {
          color: #a8bed6;
          border-bottom: 1px solid #a8bed6;
        }
      }
    }
  }

  &-subtitle {
    font-size: 36px;
    font-family: 'FuturaDemiC';
  }
}